﻿
@{
    ViewBag.Title = "CommitteeMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GlodCleaning.Common;
@using GlodCleaning.Entities.V1;
@using GlodCleaning.Entities.Contract;
@using GlodCleaningClient.Pages;
@using GlodCleaningClient.Infrastructure;
@model List<AbstractCommitteeMember>

<style>
    .custome-img {
        height: 330px !important;
    }

    .item-content {
        padding: 20px 0 !important;
    }

    .custome-padding {
        padding: 35px 0 !important;
    }
    /*.hoddedar
    {
        display:block !important;
    }*/
    /*#box_wrapper > section
    {
        overflow:scroll;
    }*/
    /*#box_wrapper > section ::-webkit-scrollbar {
        width: 0px;
    }
    #box_wrapper > section ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    #box_wrapper > section ::-webkit-scrollbar-thumb {
        background: #888;
    }
        #box_wrapper > section ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }*/
</style>

<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container custome-padding">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Committee Members</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            Home
                        </a>
                    </li>
                    <li class="active">Committee Members</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="filters isotope_filters">
                    <a href="#" class="selected" data-filter=".all" style="padding: 0 12px;">All</a>
                    <a href="#" data-filter=".hoddedar" style="padding: 0 12px;">Hoddedar</a>
                    <a href="#" data-filter=".pramukh_trustee" style="padding: 0 12px;">Pramukh/Trustee</a>
                    <a href="#" data-filter=".karobari_committee" style="padding: 0 12px;">Karobari committee</a>
                    <a href="#" data-filter=".trustee_committee" style="padding: 0 12px;">WEBSITE COMMITTEE</a>
                    <a href="#" data-filter=".salahkaar_committee" style="padding: 0 12px;">Salahkaar committee</a>
                    <a href="#" data-filter=".bandharan_committee" style="padding: 0 12px;">Nanakiya & Bandharan committee</a>

                </div>

                <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20" data-filters=".isotope_filters">

                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 all">

                            <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">


                                <div class="item-media">
                                    <img src="@Model[i].UrlStr" alt="" style="height:250px; width:210px;">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content" style="padding:20px 0 !important;">
                                    <header class="entry-header">
                                        <div class="categories-links small-text highlightlinks">  @Model[i].CommitteeName </div>
                                        <h3 class="entry-title small bottommargin_0">
                                            <a href="#" rel="bookmark">
                                                @Model[i].Name
                                            </a>
                                        </h3>
                                        <div class="entry-content">
                                            <strong>City</strong>: @Model[i].City<br>
                                        </div>

                                        <a href="tel:@Model[i].MobileNumber">
                                            <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                                        </a>
                                        @* <a href="#" class="theme_button color4 inverse min_width_button bottommargin_0" style="border: none;">More Detail >></a>*@
                                    </header>
                                </div>

                            </article>
                        </div>

                    }

                 

                    @for (int i = 0; i < Model.Count; i++)

                    {

                        if (@Model[i].CommitteeType == 7)
                        {
                            <div class="isotope-item col-lg-4 col-md-6 col-sm-12 hoddedar">
                                <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                                    <div class="item-media">
                                        <img src="@Model[i].UrlStr" alt="" style="height:250px; width:210px;">
                                        <div class="media-links">
                                            <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="categories-links small-text highlightlinks">  @Model[i].CommitteeName </div>
                                            <h3 class="entry-title small bottommargin_0">
                                                <a href="#" rel="bookmark">
                                                    @Model[i].Name
                                                </a>
                                            </h3>
                                            <div class="entry-content">
                                                <strong>City</strong>: @Model[i].City<br>
                                            </div>

                                            <a href="tel:@Model[i].MobileNumber">
                                                <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                                            </a>
                                            @* <a href="#" class="theme_button color4 inverse min_width_button bottommargin_0" style="border: none;">More Detail >></a>*@
                                        </header>
                                    </div>
                                </article>
                            </div>
                        }

                    }



                    @for (int i = 0; i < Model.Count; i++)
                    {
                        if (@Model[i].CommitteeType == 8)
                        {
                            <div class="isotope-item col-lg-4 col-md-6 col-sm-12 pramukh_trustee">
                                <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                                    <div class="item-media">
                                        <img src="@Model[i].UrlStr" alt="" style="height:250px; width:210px;">
                                        <div class="media-links">
                                            <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="categories-links small-text highlightlinks">  @Model[i].CommitteeName </div>
                                            <h3 class="entry-title small bottommargin_0">
                                                <a href="#" rel="bookmark">
                                                    @Model[i].Name
                                                </a>
                                            </h3>
                                            <div class="entry-content">
                                                <strong>City</strong>: @Model[i].City<br>
                                            </div>

                                            <a href="tel:@Model[i].MobileNumber">
                                                <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                                            </a>
                                            @* <a href="#" class="theme_button color4 inverse min_width_button bottommargin_0" style="border: none;">More Detail >></a>*@
                                        </header>
                                    </div>
                                </article>
                            </div>
                        }
                    }


                    @for (int i = 0; i < Model.Count; i++)

                    {
                        if (@Model[i].CommitteeType == 9)
                        {
                            <div class="isotope-item col-lg-4 col-md-6 col-sm-12 karobari_committee">
                                <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                                    <div class="item-media">
                                        <img src="@Model[i].UrlStr" alt="" style="height:250px; width:210px;">
                                        <div class="media-links">
                                            <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="categories-links small-text highlightlinks">  @Model[i].CommitteeName </div>
                                            <h3 class="entry-title small bottommargin_0">
                                                <a href="#" rel="bookmark">
                                                    @Model[i].Name
                                                </a>
                                            </h3>
                                            <div class="entry-content">
                                                <strong>City</strong>: @Model[i].City<br>
                                            </div>

                                            <a href="tel:@Model[i].MobileNumber">
                                                <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                                            </a>
                                            @* <a href="#" class="theme_button color4 inverse min_width_button bottommargin_0" style="border: none;">More Detail >></a>*@
                                        </header>
                                    </div>
                                </article>
                            </div>
                        }
                    }



                    @for (int i = 0; i < Model.Count; i++)
                    {
                        if (@Model[i].CommitteeType == 10)
                        {
                            <div class="isotope-item col-lg-4 col-md-6 col-sm-12 trustee_committee">
                                <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                                    <div class="item-media">
                                        <img src="@Model[i].UrlStr" alt="" style="height:250px; width:210px;">
                                        <div class="media-links">
                                            <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="categories-links small-text highlightlinks">  @Model[i].CommitteeName </div>
                                            <h3 class="entry-title small bottommargin_0">
                                                <a href="#" rel="bookmark">
                                                    @Model[i].Name
                                                </a>
                                            </h3>
                                            <div class="entry-content">
                                                <strong>City</strong>: @Model[i].City<br>
                                            </div>

                                            <a href="tel:@Model[i].MobileNumber">
                                                <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                                            </a>
                                            @* <a href="#" class="theme_button color4 inverse min_width_button bottommargin_0" style="border: none;">More Detail >></a>*@
                                        </header>
                                    </div>
                                </article>
                            </div>
                        }
                    }




                    @for (int i = 0; i < Model.Count; i++)
                    {
                        if (@Model[i].CommitteeType == 11)
                        {
                            <div class="isotope-item col-lg-4 col-md-6 col-sm-12 salahkaar_committee">
                                <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                                    <div class="item-media">
                                        <img src="@Model[i].UrlStr" alt="" style="height:250px; width:210px;">
                                        <div class="media-links">
                                            <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="categories-links small-text highlightlinks">  @Model[i].CommitteeName </div>
                                            <h3 class="entry-title small bottommargin_0">
                                                <a href="#" rel="bookmark">
                                                    @Model[i].Name
                                                </a>
                                            </h3>
                                            <div class="entry-content">
                                                <strong>City</strong>: @Model[i].City<br>
                                            </div>

                                            <a href="tel:@Model[i].MobileNumber">
                                                <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                                            </a>
                                            @* <a href="#" class="theme_button color4 inverse min_width_button bottommargin_0" style="border: none;">More Detail >></a>*@
                                        </header>
                                    </div>
                                </article>
                            </div>
                        }
                    }



                    @for (int i = 0; i < Model.Count; i++)
                    {
                        if (@Model[i].CommitteeType == 12)
                        {
                            <div class="isotope-item col-lg-4 col-md-6 col-sm-12 bandharan_committee">
                                <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                                    <div class="item-media">
                                        <img src="@Model[i].UrlStr" alt="" style="height:250px; width:210px;">
                                        <div class="media-links">
                                            <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="categories-links small-text highlightlinks">  @Model[i].CommitteeName </div>
                                            <h3 class="entry-title small bottommargin_0">
                                                <a href="#" rel="bookmark">
                                                    @Model[i].Name
                                                </a>
                                            </h3>
                                            <div class="entry-content">
                                                <strong>City</strong>: @Model[i].City<br>
                                            </div>

                                            <a href="tel:@Model[i].MobileNumber">
                                                <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                                            </a>
                                            @* <a href="#" class="theme_button color4 inverse min_width_button bottommargin_0" style="border: none;">More Detail >></a>*@
                                        </header>
                                    </div>
                                </article>
                            </div>
                        }
                    }

                </div>
                @*<div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="topmargin_30">
                            <ul class="pagination">
                                <li><a href="#"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>

