.cus-focus__01 {
    border: 1px solid #D7DBDF !important;
}

.input-comment {
    color: #098eff;
}

.help-contact__01 h3 {
    font-size: 17px;
}

.help-contact__01 p {
    font-size: 14px;
}

header {
    position: relative;
    z-index: 9999999 !important;
}

label.check-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1rem;
    height: 1rem;
    z-index: 100000;
    cursor: pointer;
}

input[type="checkbox"] {
    position: relative;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
    background: white;
    outline: none;
    z-index: 100000;
}

    input[type="checkbox"]:before {
        content: "";
        position: absolute;
        width: 1.1rem;
        height: 1.1rem;
        background: white;
        cursor: pointer;
    }

    input[type="checkbox"]:after {
        content: "";
        transition: .25s ease-in-out;
        position: absolute;
        z-index: 1;
        width: 20px;
        height: 20px;
        top: -6px;
        border: 3px solid #4BA0E8;
    }

    input[type="checkbox"]:checked:after {
        transform: rotate(-38deg);
        height: 11px;
        border-color: #4BA0E8;
        border-top-color: transparent;
        border-right-color: transparent;
    }

.form-control {
    height: 44px;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
    position: absolute;
    margin-top: 9px;
    margin-left: -20px;
}

.form-control option:hover,
.form-control option:checked {
    box-shadow: 0 0 10px 100px #ea2803 inset;
}

.form-control:focus {
    outline: 0;
    background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:-moz-placeholder {
    color: #888;
}

.form-control:-ms-input-placeholder {
    color: #888;
}

.form-control::-webkit-input-placeholder {
    color: #888;
}

.form-wizard label {
    font-weight: 300;
}

    .form-wizard label span {
        color: #000;
    }

.form-wizard .btn:hover {
    background: #f34727;
    color: #fff;
}

.form-wizard .btn:active {
    outline: 0;
    background: #f34727;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-wizard-steps {
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.form-wizard-step {
    background: #ccc;
}

    .form-wizard-step.active {
        background: #4ba0e8;
        color: #fff;
    }

    .form-wizard-step.activated {
        background: #4ba0e8;
        color: #fff;
    }

.form-wizard-progress {
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    height: 0px;
    background: #ea2803;
}

.form-wizard-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    background: #ea2803;
}

.form-wizard-tolal-steps-3 .form-wizard-step {
    position: relative;
    float: left;
    padding: 0 5px;
}

.form-wizard-tolal-steps-4 .form-wizard-step {
    position: relative;
    float: left;
    padding: 0 5px;
}

.form-wizard-tolal-steps-5 .form-wizard-step {
    position: relative;
    float: left;
    padding: 0 5px;
}

.form-wizard-step.activated p {
    color: #fff;
}

.form-wizard-step.active p {
    color: #fff;
}

.form-wizard fieldset {
    display: none;
    text-align: left;
    border: 0px !important
}

.form-wizard-buttons {
    text-align: right;
}

.form-wizard .input-error {
    border-color: #ea2803;
}

.drop_target input[type="file"] {
    visibility: hidden;
}

.drop_target::before {
    content: 'Drop Hear';
    font-family: FontAwesome;
    position: absolute;
    display: block;
    width: 100%;
    line-height: 220px;
    text-align: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.2s;
}

.drop_target:hover,
.drop_target.dropping {
    background: #f80;
    border-top-color: #cc6d00;
}

    .drop_target:hover:before,
    .drop_target.dropping:before {
        color: rgba(0, 0, 0, 0.6);
    }

.drop_target .image_preview {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: contain;
    position: relative;
    z-index: 2;
}

.radio {
    display: block;
    font-size: 1rem;
    line-height: 3rem;
    cursor: pointer;
}

    .radio:hover .inner {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        opacity: .5;
    }

    .radio input {
        width: 1px;
        height: 1px;
        opacity: 0;
    }

.checkbox,
.radio {
    margin-bottom: 0 !important;
}

    .radio input:checked + .outer .inner {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    .radio input:checked + .outer {
        border: 1px solid #00cbc6;
    }

    .radio input:focus + .outer .inner {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        background-color: #00cbc6;
    }

    .radio .outer {
        width: 15px;
        height: 15px;
        display: block;
        float: left;
        margin: 9px 10px 10px 0;
        border: 1px solid #4ba9ee;
        border-radius: 50%;
        background-color: #fff;
    }

    .radio .inner {
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        width: 0.75rem;
        height: 0.75rem;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        display: block;
        margin: 3px;
        border-radius: 50%;
        background-color: #4ba0e8;
        opacity: 0;
    }

.property-name label {
    text-transform: uppercase;
    font-size: 11px;
}

.form-wizard .btn:hover {
    background: #4BA0E8 !important;
}

.p0_1 {
    padding: 0;
}

.p1_1 {
    padding: 7px;
}

.p1-2 {
    padding: 7px;
}

.p0_3 {
    padding: 0;
}

.mb_10 {
    margin-bottom: 10px !important;
}

.pl-3 {
    padding-left: 15px;
}

.mtc-5 {
    margin-top: 30px !important;
}

.mbc-3 {
    margin-bottom: 30px !important;
}

.order-form-box span {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #111;
}

.home-heading-01 .active {
    color: #FFFFFF !important;
}

.home-clen-01 {
    display: flex;
    align-items: center;
}

.home-heading-01 h5 {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 13px;
}

.pare-pill__01 ul li a {
    font-size: 17px !important;
}

.tab_custome__01 h6 {
    font-size: 13px;
    font-weight: bold;
    color: #397AA9;
    margin-bottom: 7px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.input-full {
    border-radius: 0;
}

.select-wrapper:before {
    top: 3px !important;
    right: 20px !important;
}

.qty-count.qty-count--order .count-input {
    border-radius: 0;
}

@@media(max-width: 425px) {
    .mrp1 {
        padding: 0;
    }
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .form-control-feedback,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: #e73d4a !important;
}

.has-error .form-control {
    border-color: #e73d4a !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

    .has-error .form-control:focus {
        border-color: #d71b29 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #f2989f !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #f2989f !important;
    }

.has-error .input-group-addon {
    color: #e73d4a !important;
    border-color: #e73d4a !important;
    background-color: #fbe1e3 !important;
}

.divider-line {
    margin-bottom: 0 !important;
}

.order-form-box .divider-line {
    margin-bottom: 0 !important;
}

.nav-tabs.nav-tabs--sm > li > a:after {
    display: none !important;
}

.cus-servi__01 {
    font-size: 12px !important;
}

.nav-tabs.nav-tabs--sm {
    margin-left: 0;
}

.custom-row__01 ul li {
    padding: 10px;
    background: #fff;
}

.custom-row__01 ul .active2 {
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
    background-color: #4BA0E8;
}

    .custom-row__01 ul .active2:hover {
        box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
        background-color: #4BA0E8;
    }

.nav-tabs.nav-tabs--sm {
    margin-bottom: 10px;
}

hr {
    margin: 0;
}

.clen-cir__01 {
    background: #fff;
}

.clen-box__01 {
    display: flex;
    align-items: center;
}

.service-card-title__01 {
    font-size: 11px !important;
}

.pare-fel__01 {
    text-align: center;
}

    .pare-fel__01 h3 {
        margin-top: 20px;
    }

.btn-top__01 {
    margin-top: 10px;
}

.pare-pill__01 .row {
    justify-content: center;
    display: flex;
}

.price-table__01 tbody tr td p {
    margin-bottom: 0 !important;
    font-size: 13px;
    margin-left: 10px;
}

.price-table__01 thead tr td h6 {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 20px;
}

.price-table__01 thead tr td span button {
    margin-bottom: 20px;
}

.pro-icon__01 {
    display: flex;
    align-items: center;
}

.order-table-main__01 {
    padding: 26px 11px 35px;
}

.price-table__01 tbody tr td b {
    float: right;
}

.btn-cus-info__01 {
    background: none;
    color: #4BA0E8;
    border-radius: 6px;
    text-transform: uppercase;
    border: 2px solid #4BA0E8;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 0px 5px;
}

    .btn-cus-info__01:hover {
        background: none;
        color: #4BA0E8;
        border-radius: 6px;
        text-transform: uppercase;
        border: 2px solid #4BA0E8;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 0px 5px;
    }

@@media(max-width:540px ) {
    .col-sm-6 {
        width: 50% !important;
    }
}

@@media(max-width:320px ) {
    .col-12 {
        width: 100% !important;
    }
}

.order-form-box {
    padding: 0px 33px 35px;
}

.nav-tabs.nav-tabs--sm > li > a {
    padding: 15px 24px;
}

.service-details__01 {
    padding: 40px 0;
}

.property-name__01 h3 {
    font-size: 13px;
}

.radio_cus__01 {
    border: 2px solid #4BA0E8;
    background: #dcdcdc59;
}

.radio {
    --border-radius: 50%;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.checkbox {
    --border-radius: 0;
    padding: 5px;
}

    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
        display: none;
    }

    .radio label,
    .checkbox label {
        position: relative;
        display: inline-block;
        width: 21px !important;
        height: 15px !important;
        border: 3px solid #50afff;
        border-radius: var(--border-radius);
        box-sizing: border-box;
    }

    .checkbox label,
    .radio label {
        min-height: 21px;
        padding-left: 16px;
    }

        .radio label::before,
        .checkbox label::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 10px;
            height: 10px;
            border-radius: var(--border-radius);
            background-color: transparent;
            transform: translate(-50%, -50%);
            transition: background-color 0.25s;
        }

    .radio :checked ~ label::before,
    .checkbox :checked ~ label::before {
        background-color: #4ba0e8;
    }

    .radio span,
    .checkbox span {
        color: grey;
        vertical-align: top;
        transition: color 0.25s;
    }

    .radio :checked ~ span,
    .checkbox :checked ~ span {
        color: #111111;
    }

.property-name__01 h3 {
    margin-bottom: 20px;
}

.qty-cus__01 {
    padding-left: 5px;
}

.ds_propertyLayout {
    margin-top: 12px;
}

input {
    margin: 0;
    padding: 0;
    border: none;
}

    input:focus {
        border: none;
        outline: none;
    }

.quantity input {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding 0;
    margin: 0;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-right: none;
}

    .quantity input:last-child {
        border-right: 1px solid #ccc;
    }

input[type="button"] {
    cursor: pointer
}

#datepicker > span:hover {
    cursor: pointer;
}

.input-group-addon {
    display: none;
}

.cus-cs__01 {
    border-radius: 0;
    width: 185% !important;
}

.datepicker.dropdown-menu {
    top: 533px !important;
}

.datetimepicker-wrap:before {
    right: -80%;
    margin-top: -12px;
    z-index: 9999;
}

.m-0 {
    margin: 0 !important;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 25px;
}


@@media(max-width:320px) {
    .col {
        width: 100% !important;
    }

    .col-pl-0 {
        padding-left: 0 !important;
    }

    .col-mt-4 {
        margin-top: 20px;
    }

    .order-form-box {
        padding: 0px 15px 35px;
    }
}
