﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GlodCleaning.Common;
@Html.AntiForgeryToken()

<style>
    .check-box-menu input:checked + label {
        background: #15948d0d;
        color: #15948d;
    }

    .check-box-menu input {
        display: none;
    }

    .check-box-menu .menu-icon-txt {
        padding: 7px !important;
    }

    .tijb {
        font-size: 13px;
        font-weight: 500;
    }

    .error {
        color: red;
        font-weight: 400 !important;
        font-size: 14px !important;
        margin-bottom: 0;
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

    #HealthSymptoms {
        display: none;
    }
</style>



<form method="post" id="frmClient">
    <div Id="tabbing1">
        <div class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="menu-body">
                            <h2>
                                Did you experience one or more of the health symptoms below during  the last 24 hours?
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-2 p-0">

                        <div class="menu-bar-body">
                            <div class="row m-0 justify-content-center">

                                <input type="text" name="HealthSymptoms" id="HealthSymptoms" value="" />

                                <label class="col-lg-6 col-6 check-box-menu text-center p-1  m-0">
                                    <input type="checkbox" class="HealthSymptomschkbx" name="Coughing" id="Coughing" value="Coughing" />
                                    <label for="Coughing" class="col-12 p-0  m-0">
                                        <div class="menu-icon-txt">
                                            <img src="~/Content/assets/images/cough.svg">
                                            <p class="mb-0" for="1">
                                                Coughing
                                            </p>
                                        </div>

                                    </label>

                                </label>

                                <label class="col-lg-6 col-6 check-box-menu  text-center p-1  m-0">
                                    <input type="checkbox" class="HealthSymptomschkbx" name="Coughing" id="Mucusfromthenose" value="Mucusfromthenose" />
                                    <label for="Mucusfromthenose" class="col-12 p-0 m-0">
                                        <div class="menu-icon-txt">
                                            <img src="~/Content/assets/images/runny-nose.svg">
                                            <p class="mb-0">
                                                Mucus from the nose
                                            </p>
                                        </div>
                                    </label>

                                </label>
                                <label class="col-lg-6 col-6 check-box-menu text-center p-1  m-0">
                                    <input type="checkbox" class="HealthSymptomschkbx" name="Coughing" id="Feverabove38degrees" value="Feverabove38degrees" />
                                    <label for="Feverabove38degrees" class="col-12 p-0  m-0">
                                        <div class="menu-icon-txt">
                                            <img src="~/Content/assets/images/fever.svg">
                                            <p class="mb-0">
                                                Fever above 38 degrees
                                            </p>
                                        </div>
                                    </label>
                                </label>
                                <label class="col-lg-6 col-6 check-box-menu text-center p-1  m-0">
                                    <input type="checkbox" class="HealthSymptomschkbx" name="Coughing" id="Tightnessofthechest" value="Tightnessofthechest" />
                                    <label for="Tightnessofthechest" class="col-12 p-0 m-0">
                                        <div class="menu-icon-txt">
                                            <img src="~/Content/assets/images/lungs.svg">
                                            <p class="mb-0">
                                                Tightness of the chest
                                            </p>
                                        </div>
                                    </label>

                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="menu-bar-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-7 col-7 p-0 yn-content-card">
                                    <div class="menu-icon-txt">
                                        <p class="mb-0">
                                            Does Someone in your household
                                            experience fever or tightness of
                                            the chest at this moment?
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4 p-0">
                                    <div class="menu-icon-txt d-flex align-items-center">
                                        <div class="menu-icon-txt">
                                            <img src="~/Content/assets/images/employees.svg">
                                        </div>
                                        <p class="mb-0 ml-2">
                                            <span>Yes / No</span> <br>
                                            <input type="radio" class="mt-1" name="gender" value="1" id="IsHouseholdFeverYes"><span class="ml-2 mr-2 mt-1"></span>
                                            <input class="mt-1" type="radio" name="gender" value="0" id="IsHouseholdFeverNo">
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="menu-bar-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-7 col-7 p-0">
                                    <div class="menu-icon-txt yn-content-card">
                                        <p class="mb-0">
                                            Did you have the COVID-19 virus and
                                            have you been positively tested the
                                            past 7 day (in a lab)?
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4 p-0">
                                    <div class="menu-icon-txt d-flex align-items-center">
                                        <div class="menu-icon-txt">
                                            <img src="~/Content/assets/images/coronavirus.svg">
                                        </div>
                                        <p class="mb-0 ml-2">
                                            <span>Yes / No</span> <br>
                                            <input type="radio" class="mt-1" name="IsCovid" value="1"><span class="ml-2 mr-2 mt-1"></span>
                                            <input class="mt-1" type="radio" name="IsCovid" value="0">
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="menu-bar-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-7 col-7 p-0">
                                    <div class="menu-icon-txt yn-content-card">
                                        <p class="mb-0">
                                            Does a member of your household <br> or
                                            family have the COVID-19 virus , and
                                            have you been in contact with him/her
                                            during the past 14 days whilst he / she
                                            still experienced symptoms?
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4 p-0">
                                    <div class="menu-icon-txt d-flex align-items-center">
                                        <div class="menu-icon-txt">
                                            <img src="~/Content/assets/images/calendar.svg">
                                        </div>
                                        <p class="mb-0 ml-2">
                                            <span>Yes / No</span> <br>
                                            <input type="radio" class="mt-1" name="IsHouseholdCovid" value="1"><span class="ml-2 mr-2 mt-1"></span>
                                            <input class="mt-1" type="radio" name="IsHouseholdCovid" value="0">
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="menu-bar-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-7 col-7 p-0">
                                    <div class="menu-icon-txt yn-content-card">
                                        <p class="mb-0">
                                            Are You currently in quarantine because
                                            you have been in direct contact with
                                            someone diagnosed with the
                                            covid-19 virus?
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4 p-0">
                                    <div class="menu-icon-txt d-flex align-items-center">
                                        <div class="menu-icon-txt">
                                            <img src="~/Content/assets/images/house.svg">
                                        </div>
                                        <p class="mb-0 ml-2">
                                            <span>Yes / No</span> <br>
                                            <input type="radio" class="mt-1" name="IsQuarntine" value="1"><span class="ml-2 mr-2 mt-1"></span>
                                            <input class="mt-1" type="radio" name="IsQuarntine" value="0">
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="next-button">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-4 col-6 pl-1">
                        <input id="next" class="btn btn-info btn-back-next w-100" value="Next   >">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tabbing2">

        <div class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="menu-body">
                            <h2>
                                Please fill in your contact details
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-2 p-0">
                        <div class="menu-bar-body">
                            @*<div class="form-group">
                                    <label for="FirstName"></label>
                                    <input type="text" class="form-control" name="UserId" id="UserId">
                                </div>*@
                            <input type="hidden" value="@ViewBag.Id" id="UserId" />
                            <div class="form-group">
                                <label class="mb-0" for="NameOfCustomer">First and last Name</label>
                                <input type="text" class="form-control" id="NameOfCustomer" name="NameOfCustomer">
                            </div>
                            <div class="form-group">
                                <label class="mb-0" for="TelephoneNumber">Telephone</label>
                                <input type="number" class="form-control" name="TelephoneNumber" id="TelephoneNumber">
                            </div>
                            <div class="form-group">
                                <label class="mb-0" for="TiJd">Time</label>
                                <div class="col-lg-6 col-12 p-0">
                                    <input type="date" class="form-control tijb " name="ReservationDate" id="ReservationDate">
                                </div>
                                <div class="col-lg-6 col-12 p-0 mt-2">
                                    <input type="time" class="form-control tijb ReservationTime" name="ReservationTime" id="ReservationTime">
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label class="mb-0" for="NoOfPeople">No.of People</label>
                                <input type="number" class="form-control" name="NoOfPeople" id="NoOfPeople">
                            </div>*@
                            @*<div class="form-group">
                                    <label class="mb-0">Aantal personen</label>
                                    <input type="email" class="form-control" name="Aantalpersonen" id="Aantalpersonen">
                                </div>*@
                            @*<a href="@Url.Action("Wrong","Message")">
                                    <input type="button" class="w-100 btn btn-info app-button-info" value="submit">
                                </a>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="next-button">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-6 col-6 pr-1">
                        <input id="back" class="btn btn-info btn-back-next w-100" value="< Back" />
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="form-group w-100">
                            <input type="submit" id="btnSignup" class="btn btn-info btn-back-next w-100" value="Submit" />
                            <button class="btn btn-info btn-back-next w-100" type="button" id="btnSignupLoading" disabled style="display:none;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Registering...
                            </button>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>


<script>
    var HealthSymptoms = "";
    var IsHouseholdFever = false;
    var IsCovid = false;
    var IsHouseholdCovid = false;
    var IsQuarntine = false;

    $(document).ready(function () {
        $("#tabbing1").show();
        $("#tabbing2").hide();

        $('#next').click(function () {
            $("#tabbing1").hide();
            $("#tabbing2").show();
        });
        $('#back').click(function () {
            $("#tabbing1").show();
            $("#tabbing2").hide();
        });

        $('#Coughing').change(function () {
            if (this.checked) {
                window.location.href = '@Url.Action("Wrong","Message")?ri=@ViewBag.RId';
            }
        });

        $('#Mucusfromthenose').change(function () {
            if (this.checked) {
                window.location.href = '@Url.Action("Wrong","Message")?ri=@ViewBag.RId';
            }
        });

        $('#Feverabove38degrees').change(function () {
            if (this.checked) {
                window.location.href = '@Url.Action("Wrong","Message")?ri=@ViewBag.RId';
            }
        });

        $('#Tightnessofthechest').change(function () {
            if (this.checked) {
                window.location.href = '@Url.Action("Wrong","Message")?ri=@ViewBag.RId';
            }
        });

    });

    $(document).ready(function () {
        $('.HealthSymptomschkbx').click(function () {
            var text = "";
            $('.HealthSymptomschkbx:checked').each(function () {
                text += $(this).val() + ',';
            });
            text = text.substring(0, text.length - 1);
            $('#HealthSymptoms').val(text);
            var count = $("[type='checkbox']").length;
        });
    });



    //Get Data

    function GetById() {
        debugger;


             $.ajax({
            type: "POST",
            url: '@Url.Action("GetById","Home")',
            data: ({ Id: $("#Id").val()}),
            dataType: 'json',
                 success: function (response) {
                     if (response.Code == 200 && response.Item != null) {

                         $("#RestaurantName").val(response.Item.RestaurantName);
                         $("#Description").val(response.Item.Description);

                 }
                 else {
                     swal("Error !", "An error occured. Try Again", "error");
                 }
            },
            error: function (error) {
               swal("Error !", "An error occured. Try Again", "error");
            }
        });
    }

    //Validation

    $(document).ready(function ($) {

        $("#frmClient").validate({
            rules: {
                NameOfCustomer: {
                    required: true,
                },
                TelephoneNumber: {
                    required: true,
                    number: true
                },
                ReservationDate: {
                    required: true,
                }

            },

            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents('.form-group'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }

            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                $(element)
                    .closest('.form-group').removeClass('has-error'); // set error class to the control group
            },

            submitHandler: function (form) {
                $("#btnSignup").hide();
                $("#back").hide();
                $("#btnSignupLoading").show();
                Upsert();
                $("#btnSignup").show();
                $("#back").show();
                $("#btnSignupLoading").hide();
            }
        });
    });

    function Upsert() {
        //, IsHouseholdFever: true, IsCovid: true, IsHouseholdCovid: true, IsQuarntine: true
        debugger;

        var favorite = [];
        $.each($("input[name='Coughing']:checked"), function () {
            favorite.push($(this).val());
        });

        HealthSymptoms = favorite.join(", ");

        $.ajax({
            type: "POST",
            url: '@Url.Action("Upsert", "Home")',
            data: ({ UserId: $("#UserId").val(), NameOfCustomer: $("#NameOfCustomer").val(), TelephoneNumber: $("#TelephoneNumber").val(), ReservationDate: $("#ReservationDate").val(), ReservationTime: $("#ReservationTime").val(), NoOfPeople: 0, HealthSymptoms: HealthSymptoms, IsHouseholdFever: IsHouseholdFever, IsCovid: IsCovid, IsHouseholdCovid: IsHouseholdCovid, IsQuarntine: IsQuarntine}),
            dataType: 'json',
            success: function (response) {
                if (response != null && response.Code == 200) {
                    window.location.href = '@Url.Action("Success","Message")?ri=@ViewBag.RId&cname=' + $("#NameOfCustomer").val();
                } else {
                    alert("Error : " + response.Message);
                }
            },
            error: function (error) {
                console.log(error);
                alert("Opps..An error occured. Please try again later or contact the admin");
                }
        })
    }

     $('input[name=gender]').change(function () {
        var value = $('input[name=gender]:checked').val();
        if (value == 1) {
            IsHouseholdFever = true;
            window.location.href = '@Url.Action("Wrong","Message")?ri=@ViewBag.RId';
        } else {
            IsHouseholdFever = false;
        }
    });


    $('input[name=IsCovid]').change(function () {
        var value = $('input[name=IsCovid]:checked').val();
        if (value == 1) {
            IsCovid = true;
            window.location.href = '@Url.Action("Wrong","Message")?ri=@ViewBag.RId';
        } else {
            IsCovid = false;
        }
    });

    $('input[name=IsHouseholdCovid]').change(function () {
        var value = $('input[name=IsHouseholdCovid]:checked').val();
        if (value == 1) {
            IsHouseholdCovid = true;
            window.location.href = '@Url.Action("Wrong","Message")?ri=@ViewBag.RId';
        } else {
            IsHouseholdCovid = false;
        }
    });

    $('input[name=IsQuarntine]').change(function () {
        var value = $('input[name=IsQuarntine]:checked').val();
        if (value == 1) {
            IsQuarntine = true;
            window.location.href = '@Url.Action("Wrong","Message")?ri=@ViewBag.RId';
        } else {
            IsQuarntine = false;
        }
    });

</script>

