﻿@{
    ViewBag.Title = "RestaurantForm";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title> Fail ! </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,450;0,600;0,700;0,800;1,500&display=swap" rel="stylesheet">

</head>
<body class="wrong-body-color">



    <div class="app-content-area mes-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="app-content">
                        <img src="~/Content/assets/images/cancel.svg">
                        <h2 class="mes-txt">
                            No access allowed !
                        </h2>
                        <p>
                            Sorry , but you are not allowed to enter this location.
                        </p>
                        <div class="col-lg-12 col-12 pl-1">
                            <a href="@Url.Action("Index","Home")?ri=@ViewBag.Rid">
                                <button id="next" class="btn btn-info bant-back-next w-100">
                                    <span class="mr-2">
                                        <i class="fa fa-reply-all" aria-hidden="true"></i>
                                    </span>
                                    Back To Restaurant
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/assets/js/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/custome.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>