﻿
@{
    ViewBag.Title = "PhotoGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GlodCleaning.Common;
@using GlodCleaning.Entities.V1;
@using GlodCleaning.Entities.Contract;
@using GlodCleaningClient.Pages;
@using GlodCleaningClient.Infrastructure;
@model List<AbstractPhotoGallery>

<style>
    .custome-padding {
        padding: 35px 0 !important;
    }
</style>

<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container custome-padding">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Photo Gallery</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            Home
                        </a>
                    </li>
                    <li class="active">Photo Gallery</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section_header color4">Photos Gallery</h2>
                <div class="filters isotope_filters">
                    <!-- <a href="#" class="selected" data-filter="*" style="padding: 0 0px;">All</a>  -->

                </div>
                <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20" data-filters=".isotope_filters">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 hoddedar">
                            <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                                <div class="item-media">
                                    <img src="@Model[i].UrlStr" alt="" style="height: 350px;">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">

                                        <a href="#" class="theme_button color4 inverse min_width_button bottommargin_0" style="border: none;">@Model[i].EventName >></a>
                                        @*<a href="#" class="theme_button color4 inverse min_width_button bottommargin_0" style="border: none;">@Model[i].Description >></a>*@
                                        <p>@Model[i].Description</p>
                                    </header>
                                </div>
                            </article>
                        </div>
                    }              

                </div>
                @*<div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="topmargin_30">
                            <ul class="pagination">
                                <li><a href="#"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

</section>