﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .checkbox {
        width: 25px;
        height: 25px;
    }

    .addData {
        color: white !important;
        background: #138496 !important;
    }

    thead {
        background: #000;
        color: white;
    }

    .addFilters {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }
</style>

@using GlodCleaning.Common;
@using GlodCleaning.Pages;
@using GlodCleaning.Infrastructure;
@Html.AntiForgeryToken()




<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i style="color:#007AA9 !important;" class="fa fa-arrow-left"></i></a>Manage Restaurant</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-home"></i></a>
                <li class="breadcrumb-item active">Manage Restaurant</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <input type="hidden" id="checklog" />
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divCustomerTable">
                        <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="modal animated fadeIn" id="upsert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="smallModalLabel">Restaurant Details</h6>
            </div>

            <div class="modal-body">
                <form class="form-auth-small" method="post" id="frmClient">
                    <div class="row clearfix">

                        <input type="hidden" id="Id" />
                        <div class="col-12 LogoFileUpload">
                            <div class="form-group">
                                <label>Logo Upload</label>
                                <input type="file" id="LogoUpload" name="LogoUpload" class="dropify">
                                <div class="mt-3"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" id="Name" name="Name" class="form-control" placeholder=" Name *">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>PhoneNumber</label>
                                <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" placeholder="PhoneNumber">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Restaurant Name</label>
                                <input type="text" id="RestaurantName" name="RestaurantName" class="form-control" placeholder="Restaurant Name">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" id="Email" name="Email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="text" id="Password" name="Password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Latitude</label>
                                <input type="text" id="Lat" name="Lat" class="form-control" placeholder="Latitude">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Longitude</label>
                                <input type="text" id="Long" name="Long" class="form-control" placeholder="Longitude">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>AddressLine 1</label>
                                <input type="text" id="AddressLine1" name="AddressLine1" class="form-control" placeholder="AddressLine 1">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>AddressLine 2</label>
                                <input type="text" id="AddressLine2" name="AddressLine2" class="form-control" placeholder="AddressLine 2">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id="Description" name="Description" class="form-control" placeholder="Description">
                           </textarea>                            
                           </div>
                        </div>
                        <div class="col-12" style="text-align:right;">
                            <input type="submit" id="Save" class="btn btn-primary saveBtn" value="Save">
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <button type="button" class="btn btn-secondary closeBtn" onclick="CloseUpsert();" id="Close">Close</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>




@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {

    <script>

        jQuery(document).ready(function () {
             $("#Id").val(@ViewBag.Id);
            TableDatatablesColreorder.init();
            FormClientValidation.init();
            $('#Description').val($.trim($('#Description').val()));
        });

     var FormClientValidation = function () {

            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmClient');
                var error1 = $('.alert-danger', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        Name: {
                            required: true,
                        },
                        PhoneNumber: {
                            required: true,
                            number:true,
                        },
                        Email: {
                            required: true,
                            email:true,
                        },
                        RestaurantName: {
                            required: true,
                        },
                        Password: {
                            required: true,
                        },
                        Lat: {
                            required: true,
                        },
                        Long: {
                            required: true,
                        },
                        AddressLine1: {
                            required: true,
                        },
                        AddressLine2: {
                            required: true,
                        },
                        Description: {
                            required: true,
                        }
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        Upsert();
                    }
                });
         }

            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
        }();



     var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.User, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                {
                    "title": "Logo", "data": "",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += '<img class="rounded-circle width35" src="' + row["LogoUrlStr"] + '"/>';
                        return htmlData;
                    }
                    , "orderable": false, "width": "5%"
                },
                {
                    "title": "Manager Name", "data": "",
                    "render": function (data, type, row) {
                        return "<b>" + row["Name"] + "</b>";
                    },
                    "orderable": false, "width": "1%"
                },

               {
                   "title": "Restaurant Details","data": "",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += '<p><b> Restaurant Name</b>: ' + row["RestaurantName"] + '</p>';
                        htmlData += '<p><b> Phone Number</b>: ' + row["PhoneNumber"] + '</p>';
                        htmlData += '<p><b> Email</b>: ' + row["Email"] + '</p>';
                        return htmlData;
                    }
                    , "orderable": false, "width": "1%"
                },

                {
                    "title": "Restaurant Address", "data": "",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<p>' + '<b>AddressLine1:</b> <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=' + row["Lat"] + ',' + row["Long"] + '" style="color: #007BFE;">' + row["AddressLine1"] + '</a>' + '</p>';
                        appendstring += '<p>' + '<b>AddressLine2:</b> <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=' + row["Lat"] + ',' + row["Long"] + '" style="color: #007BFE;">' + row["AddressLine2"] + '</a>' + '</p>';
                        return appendstring;
                    }
                    , "orderable": false, "width": "3%"
                },
               {
                   "title": "Status", "data": "",
                   "render": function (data, type, row) {
                       if (row["IsActive"]) {
                           return '<button class="badge badge-success" onclick=InactiveMessage("' + btoa(row["Id"]) + '") style="cursor:pointer;">Active</button>';
                       } else {
                           return '<button class="badge badge-danger" onclick=ActiveMessage("' + btoa(row["Id"]) + '") style="cursor:pointer;">In-Active</button>';
                       }
                   },
                   "orderable": false, "width": "3%"
                },
                {
                    "title": "Public URL", "data": "",
                    "render": function (data, type, row) {
                        var ids = btoa(row["Id"]);
                        var url = "http://vc.veiligchecken.com?ri=" + ids;
                            return '<a target="_blank" href="'+url+'"><b>'+url+'</b></a>';
                    },
                    "orderable": false, "width": "3%"
                },
               {
                    "title":"Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a onclick=OpenAddNewItem(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" title="Edit Details"><i class="fa fa-edit" style="cursor:pointer;"></i></a>&nbsp;&nbsp;';
                        appendstring += '<a href="@Url.Action(Actions.RestaurantDetails, Controllers.User)?ri=' + btoa(row["Id"]) + '" class="btn btn-sm btn-outline-secondary" title="Restaurant Details"><i class="fa fa-eye"></i></a>';
                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                {
                    text: 'Add Restaurant',
                    className: 'addData',
                    action: function (e, dt, node, config) {
                        OpenAddNewItem();
                    }
                }

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

     return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

     function BuildSearchCriteria() {
    try {
        var param = {};
         return addRequestVerificationToken(param);
    } catch (e) { }
    }

     function addRequestVerificationToken(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
        }

     function InactiveMessage(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be in-activating the Restaurant Data !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id,"inactivate");
        });
    }

     function ActiveMessage(Id) {
        swal({
            title: "Are you ?",
            text: "You will be activating the Restaurant Data !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id,"activate");
        });
        }

     function ActInact(rui, type) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ActInact,Controllers.User)',
                data: ({ ri: rui }),
                dataType: 'json',
                success: function (response) {
                    if (type == "inactivate") {
                        swal("In Activated !", "The Restaurant Data has been in-activated successfully.", "success");
                    } else if (type == "activate") {
                        swal("Activated !", "The Restaurant Data has been activated successfully.", "success");
                    }
                    TableDatatablesColreorder.init();
                },
                error: function (error) {
                    if (type == "inactivate") {
                        swal("Error !", "An error occured while in-activating the Restaurant Data.", "error");
                    } else if (type == "activate") {
                        swal("Error !", "An error occured while activating the Restaurant Data.", "error");
                    }
                    // refresh the grid.
                    TableDatatablesColreorder.init();
                }
            });
        }

     function OpenAddNewItem(Id) {
            if (Id > 0) {
                $("#smallModalLabel").text("Edit Restaurant Data");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();

                $.ajax({
                      type: 'POST',
                      url: "@Url.Action(Actions.GetById,Controllers.User)",
                      async: false,
                      data: ({Id: Id}),
                      dataType: 'json',
                    success: function (response) {
                        if (response != null && response.Code == 200 && response.Item != null) {
                            $("#Id").val(response.Item.Id);
                            $("#Name").val(response.Item.Name);
                            $("#PhoneNumber").val(response.Item.PhoneNumber);
                            $("#RestaurantName").val(response.Item.RestaurantName);
                            $("#Email").val(response.Item.Email);
                            $("#Password").val(response.Item.Password);
                            $("#Lat").val(response.Item.Lat);
                            $("#Long").val(response.Item.Long);
                            $("#AddressLine1").val(response.Item.AddressLine1);
                            $("#AddressLine2").val(response.Item.AddressLine2);
                            $("#Description").val(response.Item.Description);
                            $("#Logo").val(response.Item.Logo);
                            $("#LogoUpload").val('');
                            $('.LogoFileUpload .dropify-wrapper .dropify-preview').css({ "display": "block" })
                            $('.LogoFileUpload .dropify-wrapper .dropify-preview .dropify-render > img').remove();
                            $('.LogoFileUpload .dropify-wrapper .dropify-preview .dropify-render').prepend('<img src="" />');
                            $('.LogoFileUpload .dropify-wrapper .dropify-preview .dropify-render').find("img").attr("src", response.Item.LogoUrlStr);
                            $('#upsert').modal('show');
                        }
                      },
                    error: function (response) {
                          CloseUpsert();
                      }
                });

            } else {
                $("#smallModalLabel").text("Add Restaurant Details");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();
                $('#upsert').modal('show');
            }
        }

     function Upsert() {
            debugger;
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            $(".loading").show();
            var formData = new FormData();
            var file = document.getElementById("LogoUpload").files[0];

            formData.append("Id", ($("#Id").val()));
            formData.append("Name", $("#Name").val());
            formData.append("PhoneNumber", ($("#PhoneNumber").val()));
            formData.append("RestaurantName", $("#RestaurantName").val());
            formData.append("Email", $("#Email").val());
            formData.append("Password", $("#Password").val());
            formData.append("Lat", $("#Lat").val());
            formData.append("Long", $("#Long").val());
            formData.append("AddressLine1", $("#AddressLine1").val());
            formData.append("AddressLine2", $("#AddressLine2").val());
            formData.append("Description", $("#Description").val());

            if (Id > 0) {
                formData.append("uploadFile", $("#Logo").val());
            }
            else
                formData.append("uploadFile", file);

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Upsert,Controllers.User)',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response != null && response.Code == 200) {
                        $(".loading").hide();
                        $(".saveBtn").show();
                        $(".closeBtn").show();
                        $('#upsert').modal('hide');
                        swal("Great!", "Details Saved !", "success");
                        CloseUpsert();
                        TableDatatablesColreorder.init();
                    } else if (response != null && (response.Code == 400 || response.Code == 403)) {
                        swal("Error !", response.Message, "error");
                        $(".loading").hide();
                        $(".saveBtn").show();
                        $(".closeBtn").show();
                    } else {
                        swal("Error !", "An error occured. Try Again", "error");
                        $(".loading").hide();
                        $(".saveBtn").show();
                        $(".closeBtn").show();
                    }
                },
                error: function (error) {
            debugger;
                    $(".loading").hide();
                    $(".saveBtn").show();
                    $(".closeBtn").show();

                    //show close button
                }
        });
        }

     function CloseUpsert() {
        $("#Id").val(0);
        $("#UserType").val(2);
        $("#Name").val('');
        $("#PhoneNumber").val('');
        $("#RestaurantName").val('');
        $("#Email").val('');
        $("#Password").val('');
        $("#Lat").val('');
        $("#Long").val('');
        $("#AddressLine1").val('');
        $("#AddressLine2").val('');
        $("#Description").val('');
        $("#Logo").val('');
        $("#LogoUpload").val('');
         $('.LogoFileUpload .dropify-wrapper .dropify-preview').css({ "display": "none" });
         $('.LogoFileUpload .dropify-wrapper .dropify-preview .dropify-render > img').remove();
         $('.LogoFileUpload .dropify-wrapper .dropify-preview .dropify-render').find("img").attr("src", '');
        $(".saveBtn").show();
        $(".loading").hide();
        $(".closeBtn").show();
        $("#upsert").modal("hide");
    }


    </script>

    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}

