﻿
@{
    ViewBag.Title = "Restaurant Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .checkbox {
        width: 25px;
        height: 25px;
    }

    .addData {
        color: white !important;
        background: #138496 !important;
    }

    thead {
        background: #000;
        color: white;
    }

    .addFilters {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }
</style>
@using GlodCleaning.Common;
@using GlodCleaning.Pages;
@using GlodCleaning.Infrastructure;
@Html.AntiForgeryToken()




<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i style="color:#007AA9 !important;" class="fa fa-arrow-left"></i></a>Manage Restaurant</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-home"></i></a>
                <li class="breadcrumb-item active">Restaurant Data</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <input type="hidden" id="checklog" />
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divCustomerTable">
                        <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



<div class="modal animated fadeIn" id="by_Appointment" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Advance Search</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div>
                                <div class="row clearfix">

                                    
                                    <div class="col-md-6 col-sm-12" style="cursor:pointer;">
                                        <label>Reservation Date</label>
                                        <div class='input-group date'>
                                            <input type="date" id="ReservationDate" name="ReservationDate" style="cursor:pointer;" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>Reservation Time</label>
                                        <div class='input-group time'>
                                            <input type="Time" id="ReservationTime" name="ReservationTime" style="cursor:pointer;" class="form-control">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveBtn" onclick="AppointmentSearch();">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled="" style="        display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="reset" class="btn btn-secondary closeBtn" onclick="AppointmentReset();">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>




@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {

    <script>

        jQuery(document).ready(function () {
             $("#Id").val(@ViewBag.Id);
            TableDatatablesColreorder.init();
            FormClientValidation.init();
        });

        var FormClientValidation = function () {

            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmClient');
                var error1 = $('.alert-danger', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        Name: {
                            required: true,
                        },
                        PhoneNumber: {
                            required: true,
                            number:true,
                        },
                        Email: {
                            required: true,
                            email:true,
                        },
                        RestaurantName: {
                            required: true,
                        },
                        Password: {
                            required: true,
                        },
                        Lat: {
                            required: true,
                        },
                        Long: {
                            required: true,
                        },
                        AddressLine1: {
                            required: true,
                        },
                        AddressLine2: {
                            required: true,
                        },
                        Description: {
                            required: true,
                        }
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        Upsert();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
        }();



    var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindRestaurantData, Controllers.User, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                {
                    "title": "Name Of Customer", "data": "",
                    "render": function (data, type, row) {
                        return "<b>" + row["NameOfCustomer"] + "</b>";
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "Telephone Number", "data": "",
                    "render": function (data, type, row) {
                        return "<b>" + row["TelephoneNumber"] + "</b>";
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "Reservation Date", "data": "",
                    "render": function (data, type, row) {
                        return "<b>" + row["ReservationDate"] + "</b>";
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "Reservation Time", "data": "",
                    "render": function (data, type, row) {
                        return "<b>" + row["ReservationTime"] + "</b>";
                    },
                    "orderable": false, "width": "1%"
                },
                //{
                //    "title": "No Of People", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["NoOfPeople"] + "</b>";
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "Health Symptoms", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["HealthSymptoms"] + "</b>";
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "Is Household Fever?", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["IsHouseholdFever"] + "</b>";
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "Is Covid?", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["IsCovid"] + "</b>";
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "Is Household Covid?", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["IsHouseholdCovid"] + "</b>";
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "No Of People", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["NoOfPeople"] + "</b>";
                //    },
                //    "orderable": false, "width": "1%"
                //},
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                {
                    text: 'Advance Search',
                    className: 'addData',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenAppointmentFilters();
                    }
                }

            ],
            "buttons": [
                {
                    text: 'Advance Search',
                    className: 'addData',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenAppointmentFilters();
                    }
                }

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

    //function BuildSearchCriteria() {
    //try {
    //    var param = {};
    //     return addRequestVerificationToken(param);
    //} catch (e) { }
    //}

    function addRequestVerificationToken(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
        }


        function BuildSearchCriteria() {
            try {
                var param = {};
                param["UserId"] = @ViewBag.Id;
                param["ReservationDate"] = $("#ReservationDate").val();
                param["ReservationTime"] = $("#ReservationTime").val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function OpenAppointmentFilters() {
            $("#by_Appointment").modal("show");
        }

        function AppointmentSearch() {
            $("#by_Appointment").modal("hide");
            TableDatatablesColreorder.init();
        }

        function AppointmentReset() {
            $("#ReservationDate").val('');
            $("#ReservationTime").val('');
            $("#by_Appointment").modal("hide");
            TableDatatablesColreorder.init();
        }


    </script>

    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}

