﻿
@{
    ViewBag.Title = "LatestEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GlodCleaning.Common;
@using GlodCleaning.Entities.V1;
@using GlodCleaning.Entities.Contract;
@using GlodCleaningClient.Pages;
@using GlodCleaningClient.Infrastructure;
@model List<AbstractLatestEvent>

<style>
    
    .item-media {
        height: 280px !important;
    }
</style>

<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Latest Event</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            Home
                        </a>
                    </li>
                    <li class="active">Latest Event</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="isotope-item col-lg-4 col-md-6 col-sm-12 hoddedar">

                    <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                        <div class="item-media">
                            <img src="@Model[i].UrlStr" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <p>@Model[i].CreatedOnStr</p>
                            <header class="entry-header">
                                <h3 class="entry-title small bottommargin_0"> <a href="#">@Model[i].EventName</a> </h3>
                            </header>
                            <div class="entry-content">
                                <p>@Model[i].Description</p>
                            </div>
                        </div>
                    </article>

                </div>
            }
        </div>
    </div>

</section>