﻿
@{
    ViewBag.Title = "RitRivaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GlodCleaning.Common;
@using GlodCleaning.Entities.V1;
@using GlodCleaning.Entities.Contract;
@using GlodCleaningClient.Pages;
@using GlodCleaningClient.Infrastructure;
@model List<AbstractRitRivaz>

<style>
    .custome-padding {
        padding: 35px 0 !important;
    }
</style>
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container custome-padding">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Rit Rivaz</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            Home
                        </a>
                    </li>
                    <li class="active">Rit Rivaz</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="about" class="ls section_padding_top_110 columns_padding_30">
    <div class="container">
        @for (int i = 0; i < Model.Count; i++)
    {
        //if (i % 2 == 0)
        //{
        <div class="row center">

            <img src="@Model[i].UrlStr" alt="">

        </div>
        <br />
        @*<div class="col-md-6 col-md-push-6" data-animation="fadeInUp" data-delay="600">
        <div class="embed-responsive embed-responsive-3by2">
            <img src="@Model[i].UrlStr" alt="">
        </div>*@

        @* <div class="col-md-6 col-md-pull-6" data-animation="fadeInRight" data-delay="300">
                        <h2 class="section_header color4">@Model[i].RtirivazTypeName</h2>

                        <p>@Model[i].Description</p>
                    </div>
                </div>
        }
        *@
}
    </div>
</section>