﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GlodCleaning.Common;
@using GlodCleaning.Entities.V1;
@using GlodCleaningClient.Pages;
@using GlodCleaningClient.Infrastructure;
@model HomePage

<style>
    .slide-image-wrap img {
        visibility: inherit !important;
    }

    .item-media img {
        width: 100%;
    }
    .item-content
    {
        padding:20px 0 !important;
    }
    .item-media
    {
        height:280px !important;
    }
    .slides
    {
        height:335px;
    }
    .ds {
        background-color: #ffffff !important;
        background-image: none !important;
        background-repeat: no-repeat;
    }
</style>

<section class="intro_section page_mainslider all-scr-cover bottom-overlap-teasers">
    <div class="flexslider" data-dots="true" data-nav="true">
        <ul class="slides">
            <style>
                .slide-image-wrap img {
                    height: 335px !important;
                }
                .page_mainslider
                {
                    background-color:#fff;
                } 
                @@media(max-width:425px) {
                    .slide-image-wrap img {
                        height:inherit !important;
                    }
                    .slides {
                        height: inherit !important;
                    }
                    #about [class*="container"]
                    {
                        padding-top:0;
                    }
                }

            </style>
            @foreach (var item in Model.PageImages)
            {
                <li>
                    <div class="slide-image-wrap" data-interval="600"> 
                        <img src="@item.UrlStr"> 
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="slide_description_wrapper">
                                    <div class="slide_description">
                                        <div class="intro-layer" data-animation="fadeInRight"> </div>
                                        <div class="intro-layer" data-animation="fadeInLeft">
                                            <h2> <span class="highlight3"></span><br></h2>
                                        </div>
                                        <div class="intro-layer" data-animation="fadeInRight">
                                            <p class="thin"><em></em></p>
                                        </div>
                                        <div class="intro-layer" data-animation="fadeInUp">
                                        </div>
                                        <!-- eof .slide_description -->
                                    </div>
                                    <!-- eof .slide_description_wrapper -->
                                </div>
                                <!-- eof .col-* -->
                            </div>
                            <!-- eof .row -->
                        </div>
                    </div>
                    <!-- eof .container -->
                </li>
            }
        </ul>
    </div>    
</section>

<section id="about" class="ls section_padding_top_110 columns_padding_30 section_padding_bottom_50">
    <div class="container">
        <div class="row">

        </div>
        <div class="col-md-12  to_animate" data-animation="fadeInRight" data-delay="300">
            <h2 class="section_header color4">સંસ્થાનો ઇતિહાસ</h2>
            <p>આપણે દૂર સુદૂર રાજસ્થાન થી આવી મધ્ય ગુજરાત માં વસ્યા, એટલું જ નહિ મધ્ય ગુજરાત ને આપણી કર્મભૂમિ બનાવી ઠારી ઠામ થયા છીએ ત્યારે આપણે સૌ સાથે મળી ને સમાજ ઉપયોગી કઈક કાર્યો કરી શકીયે તેવા શુભ અને ઉમદા ઉદ્દેશ થી સૌ પ્રથમ ૨૦૪૩ ના ચૈત્ર સુદી - ૭ ને રવિવાર તા. ૫-૪-૧૯૮૭ માં "સમસ્ત ખેડા જિલ્લા મારૂ પ્રજાપતિ સમાજ" ના નામ થી આ સંસ્થા ની સ્થાપના કરવા માં આવી. સને ૨૦૦૮ ના ૭ મી સપ્ટેમ્બર ના રોજ આ સંસ્થા નું નામાઘીકરણ "મધ્ય ગુજરાત મારૂ પ્રજાપતિ સમાજ" આણંદ કરવામાં આવેલ છે.<a href="@Url.Action("Index","AboutUs")" class="more-link">read more</a>
            </p>
        </div>
    </div>
</section>

<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_50" style="background-color: #1f232b;">
    <div class="container">
        <h2 class="section_header color4" style="color: #fff;">Latest Announcement </h2>
        <div class="row flex-wrap columns_margin_bottom_20">
            @foreach (var item in Model.LatestAnnouncement)
            {
                <div class="col-sm-6 col-md-4">
                    <article class="vertical-item content-padding big-padding with_border loop-color text-center" style="background-color: #fff;">
                        <div class="item-media">
                            <img src="@item.UrlStr" alt="">
                            <div class="media-links">
                                <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@item.UrlStr"></a> </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <p>@item.CreatedOnStr</p>
                            <header class="entry-header">
                                <h3 class="entry-title small bottommargin_0"> <a href="#">@item.Announcement</a> </h3>
                            </header>
                            <div class="entry-content">
                                <p>@item.Description</p>
                               @* <p class="topmargin_30"> <a href="#" class="theme_button color4 inverse min_width_button bottommargin_0">Read More</a> </p>*@
                            </div>
                        </div>
                    </article>
                </div>
            }
        </div>
        <div class="text-center">
            <a href="@Url.Action("Index","LatestAnnouncement")" class="theme_button color2 inverse min_width_button bottommargin_0">View All >></a>
        </div>
    </div>
</section>

<section class="ls section_padding_top_90 section_padding_bottom_110">
    <div class="container">
        <h2 class="section_header color4">Latest Events</h2>
        <div class="row">
           
                <div class="col-sm-12" data-animation="fadeInUp">
                    <div class="owl-carousel loop-colors" data-responsive-lg="3" data-dots="false" data-nav="true">
                        @foreach (var item in Model.LatestEvent)
    {
                    <article class="vertical-item content-padding big-padding with_border bottom_color_border text-center">
                        <div class="item-media">
                            <img src="@item.UrlStr" alt="">
                        </div>
                        <div class="item-content">
                            <p>@item.CreatedOnStr</p>
                            <header class="entry-header">
                                <h3 class="entry-title small bottommargin_0"> <a href="#">@item.EventName</a> </h3>
                            </header>
                            <div class="entry-content">
                                <p> @item.Description                       </p>
                                <p class="topmargin_30"> <a href="@Url.Action("Index","LatestEvent")" class="theme_button color4 inverse min_width_button bottommargin_0">Read More</a> </p>
                            </div>
                        </div>
                    </article>
}
                    </div>
                </div>
           
        </div>
    </div>
</section> 
@*//CommitteeMember*@
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_50" style="background-color: #1f232b;">
    <div class="container">
        <h2 class="section_header color4" style="color: #fff;">Committee Members </h2>
        <div class="row flex-wrap columns_margin_bottom_20">
            @foreach (var item in Model.CommitteeMember)
            {
                <div class="col-sm-6 col-md-4">
                    <article class="vertical-item content-padding big-padding with_border loop-color text-center" style="background-color: #fff;">
                        <div class="item-media" style="height:auto !important;"> 
                            <img src="@item.UrlStr" alt="" style="height:250px; width:210px;"> 
                        </div>
                        <div class="item-content">
                            <header class="entry-header">
                                <div class="categories-links small-text highlightlinks"> @item.CommitteeName </div>
                                <h3 class="entry-title small bottommargin_0">
                                    <a href="#" rel="bookmark">
                                       @item.Name
                                    </a>
                                </h3>
                                <div class="entry-content">
                                    <strong>City</strong>:@item.City<br>
                                </div>

                                <a href="tel:@item.MobileNumber">
                                    <i class="fa fa-phone">M:@item.MobileNumber</i>
                                </a>
                            </header>
</div>
                    </article>
                </div>
            }
        </div>
        <div class="text-center">
            <a href="@Url.Action("Index","CommitteeMember")" class="theme_button color2 inverse min_width_button bottommargin_0">View All >></a>
        </div>
    </div>
</section>


           
            <section id="about" class="ls section_padding_top_110 columns_padding_30 section_padding_bottom_50">
                <div class="container">                    
                        <h2 class="section_header color4" > Advertisement </h2>
                     
                    <div class="row">


                        <div class="col-md-6 col-md-push-6" data-animation="fadeInUp" data-delay="600">

                            <div class="widget widget_slider widget_recent_posts">
                                <div class="owl-carousel  loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
                                    @foreach (var item in Model.PageSliderImages)
                    {
                        <div class="vertical-item content-padding with_border">

                            <div class="item-media bottommargin_15" style="height:inherit !important;">

                                <img src="@item.UrlStr" alt="">

                                <div class="media-links"> <a class="abs-link" title="" href="#"></a> </div>
                            </div>
                        </div>
    }
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </section>
            
         