﻿@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GlodCleaning.Common;
@using GlodCleaning.Entities.V1;
@using GlodCleaning.Entities.Contract;
@using GlodCleaningClient.Pages;
@using GlodCleaningClient.Infrastructure;
@model List<AbstractPageImages>


<style>
    .custome-img {
        height: 330px !important;
    }

    .item-content {
        padding: 20px 0 !important;
    }

    .custome-padding {
        padding: 35px 0 !important;
    }
</style>

<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container custome-padding">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>About-us</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            Home
                        </a>
                    </li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @for (int i = 0; i < Model.Count; i++)
    {
            <img src="@Model[i].UrlStr" alt="" class="alignright">
}


                <p>
                    આપણે દૂર સુદૂર રાજસ્થાન થી આવી મધ્ય ગુજરાત માં વસ્યા, એટલું જ નહિ મધ્ય ગુજરાત ને આપણી કર્મભૂમિ બનાવી ઠારી ઠામ થયા છીએ ત્યારે આપણે સૌ સાથે મળી ને સમાજ ઉપયોગી કઈક કાર્યો કરી શકીયે તેવા શુભ અને ઉમદા ઉદ્દેશ થી સૌ પ્રથમ ૨૦૪૩ ના ચૈત્ર સુદી - ૭ ને રવિવાર તા. ૫-૪-૧૯૮૭ માં "સમસ્ત ખેડા જિલ્લા મારૂ પ્રજાપતિ સમાજ" ના નામ થી આ સંસ્થા ની સ્થાપના કરવા માં આવી. સને ૨૦૦૮ ના ૭ મી સપ્ટેમ્બર ના રોજ આ સંસ્થા નું નામાઘીકરણ "મધ્ય ગુજરાત મારૂ પ્રજાપતિ સમાજ" આણંદ કરવામાં આવેલ છે.
                </p>

                <p>રાજસ્થાન થી આવેલ મધ્ય ગુજરાત ના તમામ જિલ્લાઓના નાના મોટા ગામોમાં વસતા આપણા જ્ઞાતિભાઈઓ ને એકત્ર કરી એકમંચ ઉપર લાવવાનું ભગીરથ કાર્ય આ સંસ્થા એ કરેલ છે. જેના ફળસ્વરૂપે આપણે સૌ વર્ષ માં એક વખત એક મંચ ઉપર ભેગા થઇ એકબીજાનો પરિચય મેળવીયે છીએ. આપણા હૈયાની અંતરની, સુખ દુઃખ ની વાતો એકબીજા સામે ઠાલવી મન ને હળવું કરીયે છીએ તથા એકબીજાના અંતરથી નજીક આવી એકબીજા સાથે આત્મીયતા ભાઈચારો કેળવીએ છીએ.</p>


                <h4>                   :સંસ્થાનો ઉદ્દેશ તેમજ પ્રવૃત્તિ:</h4>
                <p>આ સંસ્થામાં સમાજ ના વિકાસ અર્થે નીચે મુજબની સમાજ ઉપયોગી પ્રવૃતિઓ આપણે સૌએ દ્રઢ નીર્ધાર કરેલ છે.</p>
                <ul class="list2 checklist">
                    <li> સમાજ માં રહેલ કુરિવાજો , અંધશ્રદ્ધાને દૂર કરી સમાજ ને ઉજ્જવળ કારકિર્દી તરફ લઇ જવો.</li>
                    <li> સમાજના જુના રૂઢિચુસ્ત રીત રિવાજો બદલી જૂની પેઢી તથા આજની નવી પેઢી વચ્ચે સમન્વય જળવાઈ રહે એ રીતના નવા રિવાજો સ્થાપી સમાજનો વિકાસ કરવો.</li>
                    <li> શિક્ષણ ક્ષેત્રે સમાજના યુવક યુવતીઓ ઉચ્ચ શિક્ષણ મેળવી સમાજમાં મોભાદાર સ્થાન મેળવે તે રીતે તેઓને જાગૃત કરવા.</li>
                    <li> સમાજના તેજસ્વી વિદ્યાર્થી - વિદ્યાર્થીનીઓને દર વર્ષે પ્રોત્સાહન ઇનામો આપી તેમના હૃદયમાં વધુમાં વધુ અભ્યાસ કરવાની તમન્ના પેદા કરવી.</li>
                    <li> આર્થિક રીતે નબળા વિદ્યાર્થી વિદ્યાર્થીનીઓને સમાજ તરફ થી શિષ્યવૃતિ આપવી અગર આર્થિક સહાય કરવી.</li>
                    <li> અભણ માબાપના બાળકોને આજના આધુનિક શિક્ષણ ક્ષેત્રનું માર્ગદર્શન પૂરું પડી તેમનું ભાવિ ઉજ્જવળ કારકિર્દી બનાવામાં સહાયરૂપ થવું.</li>
                    <li> આર્થિક રીતે નબળા એવા આપણા સમાજના જ્ઞાતિબંધુઓને આરોગ્યક્ષેત્રે સહાય કરવી, નબળા દર્દીને હોસ્પિટલનો ખર્ચ, દવાનો ખર્ચ, ખાધા ખોરાકીનો ખર્ચ તથા અન્ય આર્થિક સહાય ને પોહચી વળવા સમાજમાં એક આરોગ્ય ફંડની વ્યવસ્થા કરવી.</li>
</ul>

                <p>આપણે સૌ વખતોવખત સમય અને સંજોગોને અનુરૂપ આપણા સમાજના રીત-રિવાજ, લગ્નનો વહેવાર, અન્ય વહેવાર તેમજ મરણ પ્રસંગે પાળવાના નિયમોમાં સુધારા વધારા કરીએ છીએ. આ તમામ નીતિનિયમોનું પોતાની પ્રથમ ફરજ સમજી પાલન કરી સમાજના વિકાસમાં મદદરૂપ થવા સર્વે જ્ઞાતિબંધુઓને નમ્ર વિનંતી છે.</p>

                <p class="alignright">
                    ભવદીય,<br/>
                    શ્રી શંકરલાલ એચ. મંડોરા<br />
                    (પ્રમુખ શ્રી, ડિરેક્ટરી કમિટીના તથા કારોબારી કમિટીના તમામ સભ્યશ્રીઓ)<br />
                </p>

                    @*<p>Maru Prajapati Samaj Vikas Trust was established in 1991. it was begun 25 years back by some of our regarded society individuals with a dream to support and encourage students in further study ,financially help the needful society individuals and change thinking of society individuals so we can develop our society together.</p>
            <p>
                Shank tri-tip hamburger bacon pancetta tail. Strip steak andouille biltong cow tenderloin bacon brisket frankfurter sirloin tri-tip turducken beef bresaola. Bacon frankfurter ribeye kevin, tongue swine ham hock strip steak pork chop porchetta pancetta
                tail sausage burgdoggen pork. Beef cupim flank bacon, boudin doner bresaola filet mignon tail. Fatback meatloaf tail short loin, turkey doner buffalo porchetta spare ribs.
            </p>
            <p>
                Jowl prosciutto ball tip biltong, kevin fatback buffalo ribeye leberkas drumstick. Ground round picanha shank chicken drumstick spare ribs. Brisket frankfurter short loin cupim, pancetta bacon beef ribs drumstick. Pastrami shoulder beef ribs chuck.
                Ham hock capicola doner tongue, turkey buffalo pork loin. Pancetta andouille shankle, prosciutto kevin fatback drumstick alcatra turducken chuck.
            </p>
            <h4>Pork brisket prosciutto shor</h4>
            <p id="tester">
                Shankle jerky hamburger flank bresaola cupim fatback jowl bacon tail pig kevin. Pig t-bone cow, ribeye boudin hamburger meatloaf. Jerky capicola jowl, boudin porchetta bresaola cupim pastrami tenderloin shoulder cow shank. Sirloin beef ribs bresaola
                pork kielbasa. Sirloin pork belly buffalo shoulder rump drumstick, ground round jerky sausage bacon t-bone prosciutto meatloaf.
            </p>
            <ul class="list2 checklist">
                <li>Corned beef prosciutto bacon beef</li>
                <li>Venison beef shoulder pastrami</li>
                <li>Andouille t-bone brisket drumstick</li>
            </ul>
            <p>Kielbasa tenderloin bresaola biltong. Biltong hamburger ground round spare ribs kielbasa prosciutto ball tip short loin t-bone capicola flank. Shankle brisket jowl drumstick, turkey pork chop capicola ham hock shoulder. Buffalo capicola filet mignon.</p>
            <p>
                Short ribs ham ball tip kielbasa chuck meatloaf bacon frankfurter. Brisket pork loin kielbasa t-bone bresaola landjaeger shank buffalo tenderloin kevin leberkas ground round strip steak corned beef rump. Drumstick venison jerky kielbasa, biltong
                pastrami pig. Alcatra picanha boudin frankfurter strip steak short ribs biltong short loin tri-tip pig venison jerky kielbasa, biltong pastrami pig.
            </p>*@
            </div>
        </div>
    </div>
</section>