﻿@using GlodCleaningClient.Pages;

<style>
    .txtDecoration {
        text-decoration: none;
    }
    .custome-dot__01 ul
    {
        list-style:none;
    }
    .custome-dot__01 ul a li
    {
        font-size:14px;
    }
    .custome-dot__01 ul li {
        font-size: 20px;
    }
    .font-bold
    {
        font-weight:bold;
        margin-bottom:10px;
    }
</style>
<div class="container">
    <div class="page-footer-content row">
        <div class="col-sm-2">
            <div class="wp-google-badge wp-google-badge_left-fixed">
                <div class="wp-google-border"></div>
                <div class="wp-google-badge-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="44" width="44">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M482.56 261.36c0-16.73-1.5-32.83-4.29-48.27H256v91.29h127.01c-5.47 29.5-22.1 54.49-47.09 71.23v59.21h76.27c44.63-41.09 70.37-101.59 70.37-173.46z" fill="#4285f4"></path>
                            <path d="M256 492c63.72 0 117.14-21.13 156.19-57.18l-76.27-59.21c-21.13 14.16-48.17 22.53-79.92 22.53-61.47 0-113.49-41.51-132.05-97.3H45.1v61.15c38.83 77.13 118.64 130.01 210.9 130.01z" fill="#34a853"></path>
                            <path d="M123.95 300.84c-4.72-14.16-7.4-29.29-7.4-44.84s2.68-30.68 7.4-44.84V150.01H45.1C29.12 181.87 20 217.92 20 256c0 38.08 9.12 74.13 25.1 105.99l78.85-61.15z" fill="#fbbc05"></path>
                            <path d="M256 113.86c34.65 0 65.76 11.91 90.22 35.29l67.69-67.69C373.03 43.39 319.61 20 256 20c-92.25 0-172.07 52.89-210.9 130.01l78.85 61.15c18.56-55.78 70.59-97.3 132.05-97.3z" fill="#ea4335"></path>
                            <path d="M20 20h472v472H20V20z"></path>
                        </g>
                    </svg>
                    <div class="wp-google-badge-score">
                        <div>Google Rating</div>
                        <span class="wp-google-rating">5.0</span>
                        <span class="wp-google-stars"><span class="wp-stars"><span class="wp-star"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="17" height="17" viewBox="0 0 1792 1792"><path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z" fill="#e7711b"></path></svg></span><span class="wp-star"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="17" height="17" viewBox="0 0 1792 1792"><path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z" fill="#e7711b"></path></svg></span><span class="wp-star"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="17" height="17" viewBox="0 0 1792 1792"><path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z" fill="#e7711b"></path></svg></span><span class="wp-star"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="17" height="17" viewBox="0 0 1792 1792"><path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z" fill="#e7711b"></path></svg></span><span class="wp-star"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="17" height="17" viewBox="0 0 1792 1792"><path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z" fill="#e7711b"></path></svg></span></span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 custome-dot__01">

            <ul style="padding:0;">
                <li class="footer-color font-bold">Link</li>
                <a class="txtDecoration" href="@Url.Action(Actions.Index,Controllers.About)"><li class="footer-color"> About</li></a>
                <a class="txtDecoration" href="@Url.Action(Actions.Index,Controllers.Contact)"><li class="footer-color">Contact Us</li></a>
                <a class="txtDecoration" href="#"><li class="footer-color">Login</li></a>
                <a class="txtDecoration" href="@Url.Action(Actions.Index, Controllers.BecomeCleaner);"><li class="footer-color">Become A Cleaner</li></a>
            </ul>
        </div>
        <div class="col-sm-2 custome-dot__01">

            <ul style="padding:0;">
                <li class="footer-color font-bold">Services</li>
                <a class="txtDecoration" href="@Url.Action(Actions.Index,Controllers.HomeCleaning)"><li>Home Cleaning</li></a>
                <a class="txtDecoration" href="@Url.Action(Actions.Index,Controllers.EndOfLeaseCleaning)"><li>End of Lease Cleaning</li></a>
                <a class="txtDecoration" href="@Url.Action(Actions.Index,Controllers.OfficeCleaning)"> <li>Office Cleaning</li></a>
            </ul>
        </div>
        <div class="col-sm-2 custome-dot__01">

            <ul style="padding:0;">
                <li class="footer-color font-bold">Locations</li>
                <a class="txtDecoration" href="@Url.Action("Sydney","Locations")"><li>Sydney</li></a>
                <a class="txtDecoration" href="@Url.Action("Newcastle","Locations")"><li>Newcastle</li></a>
                <a class="txtDecoration" href="@Url.Action("Wollongong","Locations")"><li>Wollongong</li></a>
                <a class="txtDecoration" href="@Url.Action("Canberra","Locations")"><li>Canberra</li></a>
                <a class="txtDecoration" href="@Url.Action("Melbourne","Locations")"><li>Melbourne</li></a>
                <a class="txtDecoration" href="@Url.Action("Adelaide","Locations")"><li>Adelaide</li></a>
                <a class="txtDecoration" href="@Url.Action("Hobart","Locations")"><li>Hobart</li></a>
                <a class="txtDecoration" href="@Url.Action("Perth","Locations")"><li>Perth</li></a>
                <a class="txtDecoration" href="@Url.Action("Darwin","Locations")"><li>Darwin</li></a>
                <a class="txtDecoration" href="@Url.Action("Brisbane","Locations")"><li>Brisbane</li></a>
                <a class="txtDecoration" href="@Url.Action("Gold_Coast","Locations")"><li>Gold Coast</li></a>
                <a class="txtDecoration" href="@Url.Action("Cairns","Locations")"><li>Cairns</li></a>
            </ul>
        </div>
        <div class="col-sm-2 custome-dot__01" style="padding-left:0;">

            <ul style="padding:0;">
                <li class="footer-color font-bold">Call Us</li>
                <a class="txtDecoration" href="tel:1300888999"><li>1300 888 999</li></a>
                <a><li>Mon-Fri 9am-5pm AEST</li></a>
                
            </ul>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-lg-12" style="padding:0;">
                    <a href="@Url.Action(Actions.HomeCleaning,Controllers.BookNow)" style="margin-top:10px !important; width:100%;" class="btn animation animated tada" data-animation="tada">
                        Book Now
                    </a>
                </div>
            </div>
            <div class="row">
                <h6 style="margin-top:30px !important;margin-bottom:0px !important;">DOWNLOAD OUR APP ON</h6>
                <div class="col-lg-6" style="margin-top:10px !important;text-align:center !important;padding:2px;">
                    <img src="~/images/mobile app/app-store.svg" alt="UrbanYou - App Store" style="width:100%;">
                </div>
                <div class="col-lg-6" style="margin-top:10px !important;text-align:center !important;padding:2px;">
                    <img src="~/images/mobile app/google-play.svg" alt="UrbanYou - Google Play" style="width:100%;">
                </div>
            </div>
            <div class="page-footer-bottomline-right" style="margin-top:10px;text-align:center;">
                <h6 style="margin-top:30px !important;margin-bottom:0px !important;">FOLLOW US ON</h6>
                <ul class="social-list">
                    <li><a href="https://www.facebook.com/glodservices"><i class="icon-facebook-logo1"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/glod-services"><i class="icon-linkedin-logo"></i></a></li>
                    <li><a href="https://www.instagram.com/glodservices"><i class="icon-instagram-logo1"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-footer-bottomline">
    <div class="container">
        <div class="page-footer-bottomline-left">
            <div class="footer-copyright">Copyright © 2020 Glod Services Pty Ltd. All Rights Reserved. ABN 82 625 516 154</div>
        </div>
        <div class="page-footer-bottomline-right">
            <ul class="social-list">
              
                <li><a href="@Url.Action("Index","TermCondition")">Terms and Conditions</a></li>
                
                <li><a href="@Url.Action("Index","PrivacyPolicy")">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="backToTop js-backToTop">
    <i class="icon icon-right-arrow"></i>
</div>