﻿@using GlodCleaningClient.Pages;
<style>
    .covid-contain {
        padding: .8em 3em;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-family: Raleway;
        font-size: 21px;
        font-weight: 500;
        font-style: italic;
        letter-spacing: 1px;
        text-transform: none;
        line-height: 1.2em;
        text-align: center;
    }
    .sqs-announcement-bar-close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 2.8em;
        height: 2.78em;
        background: rgba(0,0,0,.15);
        color: #393838;
    }

    .booknow:hover{
        color:white;
    }
</style>

@*<div class="page-header-mobile-info">
    <div class="page-header-mobile-info-content">
        
        <div class="page-header-info">
            <i class="icon icon-clock1"></i>Mon-Fri 9:00 am - 5:00 pm AEST
        </div>
        <div class="page-header-info">
            <i class="icon icon-phone"></i>Call: <span><a style="text-decoration:none;color:#899198;" href="tel:1300888999">1300 888 999</a></span>
        </div>
        <ul class="social-list">
            <li><a href="https://www.facebook.com/glodservices"><i class="icon-facebook-logo1"></i></a></li>
            <li><a href="https://www.linkedin.com/company/glod-services"><i class="icon-linkedin-logo"></i></a></li>
            <li><a href="https://www.instagram.com/glodservices"><i class="icon-instagram-logo1"></i></a></li>
        </ul>
    </div>
</div>*@
<div class="page-header-top" style="padding:0px;">
    <div id="close" style="background-color:#4ba0e8;">
        <div class="container">
            <span class="sqs-announcement-bar-close" span onclick="document.getElementById('close').style.display='none'"
                  style="text-align:center;">&times;</span>
            <div data-animation-delay="1s" class="covid-contain" style="color:white;">
                We are continuing to provide cleaning services during COVID-19 pandemic with extra measures in place to control and prevent the risk of infection.
                <a href="@Url.Action("Index","Covid")" class="btn" style="background-color:#f9f9fa;color:#4ba0e8;">Learn More</a>
            </div>
        </div>
    </div>
    @*<div class="container" style="padding-top:5px;">
        <div class="page-header-mobile-info-toggle"></div>
        <div class="page-header-topline-left">
            <div class="page-header-info">
                <i class="icon icon-clock1" style="color:#4ba0e8 !important;"></i>Mon-Fri 9:00 am - 5:00 pm AEST
            </div>
            <div class="page-header-info">
                <i class="icon icon-phone" style="color:#4ba0e8 !important;"></i>Call: <span><a style="text-decoration:none;color:#899198;" href="tel:1300888999">1300 888 999</a></span>
            </div>
        </div>
        <div class="page-header-topline-right">
            <ul class="social-list">
                <li><a href="https://www.facebook.com/glodservices"><i class="icon-facebook-logo1"></i></a></li>
                <li><a href="https://www.linkedin.com/company/glod-services"><i class="icon-linkedin-logo"></i></a></li>
                <li><a href="https://www.instagram.com/glodservices"><i class="icon-instagram-logo1"></i></a></li>
            </ul>
            <div class="quote-button-wrap">
                <a href="@Url.Action(Actions.HomeCleaning,Controllers.BookNow)" class="btn"><i class="icon icon-bell"></i>Book A Cleaning Now</a>
            </div>
        </div>
    </div>*@
</div>
<div class="page-header-top">
    <div class="container">
        <div class="logo">
            <a href="@Url.Action(Actions.Index,Controllers.Home)"><img src="~/images/logog.png" alt=""></a>
            <div class="shine"></div>
        </div>

        <div class="page-header-menu">
            <div class="container">
                <ul class="menu">
                    <li>
                        <a href="@Url.Action(Actions.Index,Controllers.Home)" id="home">Home<span class="arrow"></span></a>
                    </li>
                    <li>
                        <a href="#" id="services">Services<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action(Actions.Index,Controllers.HomeCleaning)" id="homecleaning">Home Cleaning</a></li>
                            <li><a href="@Url.Action(Actions.Index,Controllers.EndOfLeaseCleaning)" id="endofleasecleaning">End of Lease Cleaning</a></li>
                            <li><a href="@Url.Action(Actions.Index,Controllers.OfficeCleaning)" id="officecleaning">Office cleaning</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action(Actions.Index,Controllers.About)" id="aboutus">About Us<span class="arrow"></span></a>
                    </li>

                    <li>
                        <a href="#" id="Locations">Locations<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Sydney","Locations")">Sydney</a></li>
                            <li><a href="@Url.Action("Newcastle","Locations")">Newcastle</a></li>
                            <li><a href="@Url.Action("Wollongong","Locations")">Wollongong</a></li>
                            <li><a href="@Url.Action("Canberra","Locations")">Canberra</a></li>
                            <li><a href="@Url.Action("Melbourne","Locations")">Melbourne</a></li>
                            <li><a href="@Url.Action("Adelaide","Locations")">Adelaide</a></li>
                            <li><a href="@Url.Action("Hobart","Locations")">Hobart</a></li>
                            <li><a href="@Url.Action("Perth","Locations")">Perth</a></li>
                            <li><a href="@Url.Action("Darwin","Locations")">Darwin</a></li>
                            <li><a href="@Url.Action("Brisbane","Locations")">Brisbane</a></li>
                            <li><a href="@Url.Action("Gold_Coast","Locations")">Gold Coast</a></li>
                            <li><a href="@Url.Action("Cairns","Locations")">Cairns</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action(Actions.Index,Controllers.BecomeCleaner)" id="cleaner">Become a Cleaner</a></li>
                    <li><span class="fa fa-user-circle"></span><a href="#"> Login</a></li>
                    <li><a href="@Url.Action(Actions.HomeCleaning,Controllers.BookNow)" style="background-color: #4ba0e8;border-radius: 23.5px;border:0px;color:white;cursor:pointer !important;" class="booknow">Book A Cleaning Now</a></li>
                    @*<li>
            <a href="@Url.Action(Actions.HomeCleaning,Controllers.BookNow)" class="btn btn-primary" style="color:white;"><i class="icon icon-bell"></i>Book Now</a>
        </li>*@
                </ul>
            </div>
        </div>
    </div>
</div>


@*<div class="logo">
        <a href="#"><img src="~/images/logog.png" alt=""></a>
        <div class="shine"></div>
    </div>
    <div class="page-header-menu">
        <div class="container">
            <ul class="menu align-items-center">
                <li>
                    <a href="@Url.Action(Actions.Index,Controllers.Home)" id="home">Home<span class="arrow"></span></a>
                </li>
                <li>
                    <a href="#" id="services">Services<span class="arrow"></span></a>
                    <ul class="sub-menu">
                        <li><a href="@Url.Action(Actions.Index,Controllers.HomeCleaning)" id="homecleaning">Home Cleaning</a></li>
                        <li><a href="@Url.Action(Actions.Index,Controllers.EndOfLeaseCleaning)" id="endofleasecleaning">End of Lease Cleaning</a></li>
                        <li><a href="@Url.Action(Actions.Index,Controllers.OfficeCleaning)" id="officecleaning">Office cleaning</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action(Actions.Index,Controllers.About)">About Us<span class="arrow"></span></a>

                </li>

                <li><a href="#">Locations</a></li>
                <li><a href="@Url.Action(Actions.Index,Controllers.BecomeCleaner)">Become a Cleaner</a></li>
                <li><span class="fa fa-user-circle"></span><a href="#"> Login</a></li>
                <li>
                    <a href="@Url.Action(Actions.HomeCleaning,Controllers.BookNow)" style="color:white;"><i class="icon icon-bell"></i>Book Now</a>
                </li>
                <li>
                    <i class="icon icon-clock1"></i>&nbsp;Mon-Fri 9:00 AM - 5:00 PM AEST<br />

                </li>
            </ul>
        </div>
    </div>*@