﻿
@using GlodCleaning.Common;
@using GlodCleaningClient.Pages;
@{
    /**/

    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]);
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<!-- Mirrored from webdesign-finder.com/html/diversify/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Mar 2020 18:19:56 GMT -->
<head>
    <title>@ViewBag.Title :: Maru Samaj</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animations.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/main.css" class="color-switcher-link">
    <link rel="stylesheet" href="~/css/shop.css" class="color-switcher-link">
    <!--New ADD-->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="~/assets/vendor/summernote/dist/summernote.css" />
    <link rel="stylesheet" href="~/assets/vendor/dropify/css/dropify.min.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/assets/vendor/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/assets/vendor/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/Styles/datatables.min.css" />
    <link rel="stylesheet" href="~/Styles/datatables.bootstrap.css" />
    @*<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">*@
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/assets/vendor/select2/select2.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
    <script src="~/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="~/assets/validation/js/jquery.min.js"></script>
    <script src="~/assets/validation/js/bootstrap.min.js"></script>
    <script src="~/assets/validation/js/jquery.blockui.min.js"></script>

    <style>
        .active {
            color: #D26246 !important;
        }
    </style>

</head>

<body>
    <!--[if lt IE 9]>
        <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
    <!-- search modal -->
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="rt-icon2-cross2"></i>
            </span>
        </button>
        <div class="widget widget_search">
            <form method="get" class="searchform search-form form-inline" action="http://webdesign-finder.com/html/diversify/">
                <div class="form-group bottommargin_0"> <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input"> </div> <button type="submit" class="theme_button no_bg_button">Search</button>
            </form>
        </div>
    </div>
    <!-- Unyson messages modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
        <div class="fw-messages-wrap ls with_padding">
            <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
            <!--
                <ul class="list-unstyled">
                    <li>Message To User</li>
                </ul>
            -->
        </div>
    </div>

    <div id="canvas">
        <div id="box_wrapper">
            <!-- template sections -->         

            <header class="page_header header_white toggler_xs_right columns_margin_0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 display_table">
                            <div class="header_left_logo display_table_cell">
                                <a href="@Url.Action("Index","Home")" class="logo logo_with_text">
                                    <img src="~/images/logopjsj.png" alt="">
                                </a>
                            </div>
                            <div class="header_mainmenu display_table_cell text-center">
                                <!-- main nav start -->
                                <nav class="mainmenu_wrapper">
                                    <ul class="main-menu nav sf-menu">
                                        <li class="custom">
                                            <a href="@Url.Action("Index","Home")" id="Home">Home</a>

                                        </li>
                                        <li class="custom">
                                            <a href="@Url.Action("Index","AboutUs")" id="AboutUs">About us</a>

                                        </li>
                                        <!-- eof pages -->
                                        <li class="custom">
                                            <a href="@Url.Action("Index","RitRivaz")" id="RitRivaz">Rit Rivaz</a>

                                        </li>
                                        <li class="custom">
                                            <a href="@Url.Action("Index","Advertisement")" id="Advertisement">Advertisement</a>

                                        </li>
                                        <!-- eof features -->
                                        <!-- gallery -->
                                        <li class="custom">
                                            <a href="@Url.Action("Index","MainMember")" id="Directory">Directory</a>
                                        </li>
                                        <!-- eof Gallery -->
                                        <!-- blog -->
                                        <li class="custom">
                                            <a href="@Url.Action("Index","PhotoGallery")" id="PhotoGallery">Photo Gallery</a>

                                        </li>
                                        <!-- eof blog -->
                                        <!-- shop -->
                                        <li class="custom">
                                            <a href="@Url.Action("Index","VideoGallery")" id="VideoGallery">Video Gallery</a>
                                        </li>
                                        <!-- eof shop -->
                                        <!-- contacts -->
                                        <li class="custom">
                                            <a href="@Url.Action("Index","CommitteeMember")" id="CommitteeMember">Committee Members</a>

                                        </li>
                                        <li class="custom">
                                            <a href="@Url.Action("Index","Donors")" id="Donors">Donors</a>

                                        </li>
                                        <!-- eof contacts -->
                                    </ul>
                                </nav>
                                <!-- eof main nav -->
                                <!-- header toggler --><span class="toggle_menu"><span></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            @RenderBody()

            <footer class="page_footer template_footer ds ms parallax overlay_color section_padding_top_110 section_padding_bottom_100 columns_padding_25">
                <div class="container">                  
                    <div class="col-md-4 col-sm-6 col-xs-12 col-md-push-4">                       
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col-md-pull-4">
                        <div class="widget widget_text">
                            <h3 class="widget-title">Contacts</h3>
                            <ul class="list-unstyled greylinks">
                                <li class="media">
                                    <a href="mailto:s.h.mandora1945@gmail.com"><i class="fa fa-envelope i-icon highlight rightpadding_5" aria-hidden="true"></i>s.h.mandora1945@gmail.com</a>
                                </li>
                                <li class="media">
                                    <a href="tel:02692 – 264436"> <i class="fa fa-phone highlight rightpadding_5" aria-hidden="true"></i>02692 – 264436 </a>
                                </li>
                                @* <li class="media"> <a href="https://www.facebook.com/Rajasthan-Maru-Prajapati-Seva-Samiti-1767037390286331"><i class="fa fa-facebook highlight rightpadding_5" aria-hidden="true"></i> <a href="mailto:diversify@example.com">Connect with us</a> </li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col-md-pull-4 ">
                        <div class="widget widget_recent_posts">
                            <h3 class="widget-title">Address</h3>
                            <address>
                                <p>Shree Maru Prajapati Samaj Vikas Trust,</p>
                                <p>Plot No. 4/B/2, Anand Audhyogic vasahat,</p>
                                <p>Borsad Road, Anand – 388001 (Guj.)</p>
                                <p><b>Phone</b>: 9879545899, 9376212361 , 9426331601, 9426548815</p>
                            </address>
                        </div>
                    </div>
                </div>

            </footer>

            <section class="ds ms parallax page_copyright overlay_color section_padding_top_30 section_padding_bottom_30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p>Copyright2020@MPSVT</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="~/js/compressed.js"></script>
    <script src="~/js/selectize.min.js"></script>
    <script src="~/js/main.js"></script>

    <script>
        $(document).ready(function () {
            setSelectedMenu();
        });

        function setSelectedMenu() {
            $(".main-menu").find("li.active").each(function () {
                $(this).removeClass("active");
            });
            switch ('@curController') {
                case '@Controllers.Home':
                    setActiveLink($('#Home').attr('id'));
                    break;
                case '@Controllers.AboutUs':
                    setActiveLink($('#AboutUs').attr('id'));
                    break;
                case '@Controllers.RitRivaz':
                    setActiveLink($('#RitRivaz').attr('id'));
                    break;
                case '@Controllers.Advertisement':
                    setActiveLink($('#Advertisement').attr('id'));
                    break;
                case '@Controllers.MainMember':
                    setActiveLink($('#Directory').attr('id'));
                    break;
                case '@Controllers.PhotoGallery':
                    setActiveLink($('#PhotoGallery').attr('id'));
                    break;
                case '@Controllers.VideoGallery':
                    setActiveLink($('#VideoGallery').attr('id'));
                    break;
                case '@Controllers.CommitteeMember':
                    setActiveLink($('#CommitteeMember').attr('id'));
                    break;
                case '@Controllers.Donors':
                    setActiveLink($('#Donors').attr('id'));
                    break;
                @*case '@Controllers.Master':
                    setActiveLink($('#Master').attr('id'));
                    setSubActiveLink('@curAction');
                    break;
                case '@Controllers.Users':
                    setActiveLink($('#Users').attr('id'));
                    break;*@
            }
        }

        function setActiveLink(menuId) {
            $(".custom").find("a[id='" + menuId + "']").parent("li").addClass("active");
            //$(".items").find("a[id='" + menuId + "']").parent("li").append("<span class='selected'></span>");
        };

        function setSubActiveLink(menuId) {
            $(".custom").find("a[id='" + menuId + "']").parent("li").addClass("active");
            //$(".items").find("a[id='" + menuId + "']").parent("li").append("<span class='selected'></span>");
        };

    </script>

    @RenderSection("dashboardscripts", required: false)
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="~/assets/bundles/mainscripts.bundle.js"></script>

    @RenderSection("scripts", required: false)
    @Html.Raw(ViewBag.openPopup)
</body>
</html>