﻿
@{
    ViewBag.Title = "AdvanceDirectory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .checkbox {
        width: 25px;
        height: 25px;
    }

    .addData {
        color: white !important;
        background: #138496 !important;
    }

    thead {
        background: #000;
        color: white;
    }

    .addFilters {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .custome-padding {
        padding: 35px 0 !important;
    }
</style>

@using GlodCleaning.Common;
@using GlodCleaningClient.Pages;
@using GlodCleaningClient.Infrastructure;
@Html.AntiForgeryToken()

<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container custome-padding">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>DIRECTORY</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            Home
                        </a>
                    </li>
                    <li class="active">Advance DIRECTORY</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<form>
    <div class="modal-header">
        <center> <h6 class="title" id="defaultModalLabel"><b>Advance Search</b></h6></center>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div>
                    <div class="row clearfix">

                        <div class="col-md-4 col-sm-12">
                            <label>Gender</label>
                            @*<div class="form-group">*@
                            @Html.DropDownList("SearchGender", new List<SelectListItem> { new SelectListItem { Text = "SelectGender", Value = "0" }, new SelectListItem { Text = "Male", Value = "1" }, new SelectListItem { Text = "Female", Value = "2" } })
                            @*</div>*@
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Married</label>
                            @*<div class="form-group">*@
                            @Html.DropDownList("SearchMarried", new List<SelectListItem> { new SelectListItem { Text = "Select Yes/No", Value = "0" }, new SelectListItem { Text = "Yes", Value = "1" }, new SelectListItem { Text = "No", Value = "2" } })
                            @*</div>*@
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Engaged</label>
                            @*<div class="form-group">*@
                            @Html.DropDownList("SearchEngaged", new List<SelectListItem> { new SelectListItem { Text = "Select Yes/No", Value = "0" }, new SelectListItem { Text = "Yes", Value = "1" }, new SelectListItem { Text = "No", Value = "2" } })
                            @*</div>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary saveBtn" onclick="MainMemberSearch();">Search</button>
        <button class="btn btn-primary loading" type="button" disabled="" style="        display: none;">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Searching...
        </button>
        <button type="reset" class="btn btn-secondary closeBtn" onclick="MainMemberReset();">Reset</button>
        @*  <div class="col-12" style="text-align:right;">*@
        <a href="@Url.Action(Actions.Index,Controllers.MainMember,new { Area = ""})" class="btn btn-secondary closeBtn" id="userClose" style="background-color:#f11818;color:white">Back to Directory</a>
        @*</div>*@
    </div>
</form>


<div id="by_mainmember">
    <div class="modal-content">
        <center><h4>Apply filters to fetch the data </h4></center>
    </div>
</div>



    <div id="by_mainmembertable">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <input type="hidden" id="checklog" />
                            </div>
                            <div class="portlet-body" id="divCustomerTable">
                                <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {

    <script>
     jQuery(document).ready(function () {
         $("#Id").val(@ViewBag.Id);

     });


    var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindAdvanceDirectoryData, Controllers.MainMember, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [

               {
                   "title": "Full Name","data": "",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += '<p><b>' + row["Name"] + ' ' + row["MainMemberName"] + '</b></p>';

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
               {
                   "title": "Education", "data": "",
                   "render": function (data, type, row) {
                       var htmlData = '';
                       htmlData += '<p>' + row["Education"] + '</p>';

                       return htmlData;
                   }
                   , "orderable": false, "width": "3%"
               },
               {
                   "title": "Blood Group", "data": "",
                   "render": function (data, type, row) {
                       var htmlData = '';
                       htmlData += '<p>' + row["BloodGroup"] + '</p>';

                       return htmlData;
                   }
                   , "orderable": false, "width": "3%"
               },
               {
                   "title": "Gender", "data": "",
                   "render": function (data, type, row) {
                       if (row["Gender"] == 2) {
                           return 'Female';
                       } else if (row["Gender"] == 1) {
                           return 'Male';
                       }
                       else {
                           return '-';
                       }
                   },
                   "orderable": false, "width": "1%"
               },
               {
                   "title": "Engaged", "data": "",
                   "render": function (data, type, row) {
                       if (row["Engaged"] == 2) {
                           return 'No';
                       } else if (row["Engaged"] == 1) {
                           return 'Yes';
                       }
                       else {
                           return '-';
                       }
                   },
                   "orderable": false, "width": "1%"
               },
               {
                    "title":"Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a href="@Url.Action(Actions.Index, Controllers.MainMember)?Id=' + row["MainMemberId"] + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        //appendstring += '<a onclick=OpenAddNewItem(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" title="Edit MainMember "><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        //appendstring += '<a  class="btn btn-sm btn-outline-secondary" onclick=OpenAddNewItem("' + btoa(row["Id"]) + '") title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                       // appendstring += '<a  class="btn btn-sm btn-outline-secondary" onclick=ConfirmMessage("' + btoa(row["Id"]) + '") title="Delete MainMember "><i class="fa fa-trash"></i></a>&nbsp;&nbsp;';
                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [

                //{
                //    text: 'Advance Search',
                //    className: 'addFilters',
                //    action: function (e, dt, node, config) {
                //        //dt.ajax.reload();
                //        OpenMainMemberFilters();
                //    }
                //}
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

        function BuildSearchCriteria() {
            try {
                var param = {};
                debugger;
                param["Gender"] = $("#SearchGender").val();
                param["Married"] = $("#SearchMarried").val();
                param["Engaged"] = $("#SearchEngaged").val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

            function OpenMainMemberFilters() {
                $("#by_mainmember").show();
                $("#by_mainmembertable").hide();
        }

            function MainMemberSearch() {
                $("#by_mainmember").hide();
                $("#by_mainmembertable").show();
            TableDatatablesColreorder.init();

        }

        function MainMemberReset() {

            //$("#SearchGender").val(0);
            //$("#SearchMarried").val(0);
            //$("#SearchEngaged").val(0);
            //$("#by_mainmember").show();

            window.location.href = '@Url.Action(Actions.AdvanceDirectory, Controllers.MainMember, new { area =""})';
            $("#by_mainmembertable").hide();
        }



    </script>

    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}
