﻿
@{
    ViewBag.Title = "MainMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .checkbox {
        width: 25px;
        height: 25px;
    }

    .addData {
        color: white !important;
        background: #138496 !important;
    }

    thead {
        background: #000;
        color: white;
    }

    .addFilters {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .custome-padding {
        padding: 35px 0 !important;
    }
</style>

@using GlodCleaning.Common;
@using GlodCleaningClient.Pages;
@using GlodCleaningClient.Infrastructure;
@Html.AntiForgeryToken()

<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container custome-padding">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>DIRECTORY</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            Home
                        </a>
                    </li>
                    <li class="active">DIRECTORY</li>
                </ol>
            </div>
        </div>
    </div>
</section>




@if (@ViewBag.Id > 0)
{
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">
                    <div class="body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" id="Details" data-toggle="tab" href="#details">Main Member Details</a></li>
                            <li class="nav-item"><a class="nav-link" id="Wife" data-toggle="tab" href="#wife">Wife</a></li>
                            <li class="nav-item"><a class="nav-link" id="Son" data-toggle="tab" href="#son">Son</a></li>
                            <li class="nav-item"><a class="nav-link" id="Daughter" data-toggle="tab" href="#daughter">Daughter</a></li>
                        </ul>
                        <div class="tab-content mt-2">
                            <div class="tab-pane" id="details">
                                <div class="row clearfix">
                                    <input type="hidden" id="Id" />
                                    <div class="col-md-4 col-sm-12">
                                        <label>Member Number</label>
                                        <div class="form-group">
                                            <input type="text" id="MemberNumber" name="MemberNumber" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" id="FirstName" name="FirstName" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input type="text" id="MiddleName" name="MiddleName" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Surname</label>
                                            <input type="text" id="Surname" name="Surname" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Gotra</label>
                                            <input type="text" id="Gotra" name="Gotra" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Education</label>
                                            <input type="text" id="Education" name="Education" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Occupation</label>
                                            <input type="text" id="Occupation" name="Occupation" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Blood Group</label>
                                            <input type="text" id="BloodGroup" name="BloodGroup" class="form-control" disabled>
                                            @*@Html.DropDownList("BloodGroupId", (IEnumerable<SelectListItem>)ViewBag.MasterBloodGroup, "Select Blood Group", new { @Id = "BloodGroupId", @class = "form-control show-tick ms select1" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Work Adress</label>
                                            <input type="text" id="WorkAdress" name="WorkAdress" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Home Adress</label>
                                            <input type="text" id="HomeAdress" name="HomeAdress" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Rajasthan MulVatan</label>
                                            <input type="text" id="RajasthanMulVatan" name="RajasthanMulVatan" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Rajasthan District</label>
                                            <input type="text" id="RajasthanDistrict" name="RajasthanDistrict" class="form-control" disabled>
                                            @*@Html.DropDownList("RajasthanDistrictId", (IEnumerable<SelectListItem>)ViewBag.MasterDistrict, "Select Rajasthan District", new { @Id = "RajasthanDistrictId", @class = "form-control show-tick ms select1" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Pato</label>
                                            <input type="text" id="Pato" name="Pato" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" id="Email" name="Email" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Mobile Number</label>
                                            <input type="text" id="Mobile" name="Mobile" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>City</label>
                                        <div class="form-group">
                                            <input type="text" id="CityName" name="CityName" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Gender</label>
                                        <div class="form-group">
                                            <input type="text" id="GenderValue" name="GenderValue" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Married</label>
                                        <div class="form-group">
                                            <input type="text" id="MarriedValue" name="MarriedValue" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Engaged</label>
                                        <div class="form-group">
                                            <input type="text" id="EngagedValue" name="EngagedValue" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="wife">
                                <div class="tbl-content">
                                    <div class="portlet-body table-responsive" id="divWifeDataTable">
                                        <table class="table table-striped table-bordered table-hover" id="WifeDataTable"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="son">
                                <input type="hidden" id="SonId1" />
                                <div class="tbl-content">
                                    <div class="portlet-body table-responsive" id="divSonDataTable">
                                        <table class="table table-striped table-bordered table-hover" id="SonDataTable"></table>
                                    </div>
                                </div>
                                <div class="modal animated fadeIn" id="sondatashow" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="title" id="smallModalLabel">Son's Wife Details</h6>
                                            </div>
                                            <div class="modal-body">
                                                <div class="tbl-content">
                                                    <div class="portlet-body table-responsive" id="divSonWifeDataTable">
                                                        <table class="table table-striped table-bordered table-hover" id="SonWifeDataTable"></table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-header">
                                                <h6 class="title" id="smallModalLabel">Son's Child Details</h6>
                                            </div>
                                            <div class="modal-body">
                                                <div class="tbl-content">
                                                    <div class="portlet-body table-responsive" id="divSonChildDataTable">
                                                        <table class="table table-striped table-bordered table-hover" id="SonChildDataTable"></table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12" style="text-align:right;">
                                                <a onclick="Close()" class="btn btn-secondary closeBtn" id="userClose">Cancel</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="daughter">
                                <div class="tbl-content">
                                    <div class="portlet-body table-responsive" id="divDaughterDataTable">
                                        <table class="table table-striped table-bordered table-hover" id="DaughterDataTable"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" style="text-align:right;">
                                <a onclick="Cancle()" class="btn btn-secondary closeBtn" id="userClose">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <input type="hidden" id="checklog" />
                            <h4>Main Member</h4>
                            @*<div class="tools col-md-12"></div>*@
                        </div>
                        <div class="portlet-body" id="divCustomerTable">
                            <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
   
    <div class="tab-pane" id="wife">
        <div class="tbl-content">
            <div class="portlet-body table-responsive" id="divWifeDataTable"> 
                <table class="table table-striped table-bordered table-hover" id="WifeDataTable" title="Wife"></table>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="son">
        <input type="hidden" id="SonId1" />
        <div class="tbl-content">
            
            <div class="portlet-body table-responsive" id="divSonDataTable">
                <table class="table table-striped table-bordered table-hover" id="SonDataTable" title="Son"></table>
            </div>
        </div>

    </div> 

    <div class="modal-body">
        <div class="tbl-content">
            <div class="portlet-body table-responsive" id="divSonWifeDataTable">
                <table class="table table-striped table-bordered table-hover" id="SonWifeDataTable" title="Son's Wife"></table>
            </div>
        </div>
    </div>
                   
    <div class="modal-body">
        <div class="tbl-content">
            <div class="portlet-body table-responsive" id="divSonChildDataTable">
                <table class="table table-striped table-bordered table-hover" id="SonChildDataTable" title="Son's Child"></table>
            </div>
        </div>
    </div>     
        
    <div class="tab-pane" id="daughter">
        <div class="tbl-content">
            <div class="portlet-body table-responsive" id="divDaughterDataTable">
                <table class="table table-striped table-bordered table-hover" id="DaughterDataTable" title="Daughter"></table>
            </div>
        </div>
    </div>
}

<div class="modal animated fadeIn" id="by_mainmember" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Advance Search</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div>
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-12">
                                        <label>Member Number</label>
                                        <div class="form-group ">
                                            <input type="text" id="SearchMemberNumber" class="form-control" placeholder="Enter Member Number">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>City</label>
                                        @*<div class="form-group ">*@
                                        @Html.DropDownList("SearchCityId", (IEnumerable<SelectListItem>)ViewBag.MasterCity, "Select City", new { @Id = "SearchCityId", @class = "show-tick ms select1" })
                                        @*</div>*@
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>Name</label>
                                        <div class="form-group ">
                                            <input type="text" id="SearchFirstName" class="form-control" placeholder="Enter Name">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <label>Gotra</label>
                                        <div class="form-group ">
                                            <input type="text" id="SearchGotra" class="form-control" placeholder="Enter Gotra">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>Blood Group</label>
                                        @*<div class="form-group ">*@
                                        @Html.DropDownList("SearchBloodGroupId", (IEnumerable<SelectListItem>)ViewBag.MasterBloodGroup, "Select Blood Group", new { @Id = "SearchBloodGroupId", @class = "show-tick ms select1" })
                                        @*</div>*@
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <label>Education</label>
                                        @*<div class="form-group ">*@
                                        @Html.DropDownList("SearchEducationId", (IEnumerable<SelectListItem>)ViewBag.MasterEducation, "Select Education", new { @Id = "SearchEducationId", @class = "show-tick ms select1" })
                                        @*</div>*@
                                    </div>                                    

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveBtn" onclick="MainMemberSearch();">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled="" style="        display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="reset" class="btn btn-secondary closeBtn" onclick="MainMemberReset();">Reset</button>
                  @*  <div class="col-12" style="text-align:right;">*@
                        <a href="@Url.Action(Actions.Index,Controllers.MainMember,new { Area = ""})" class="btn btn-secondary closeBtn" id="userClose" style="background-color:#f11818;color:white">Cancel</a>
                    @*</div>*@
                </div>
            </form>
        </div>
    </div>
</div>
@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {

    <script>
     jQuery(document).ready(function () {
         $("#Id").val(@ViewBag.Id);
            if (@ViewBag.Id > 0) {
                GetById();
                //Wife
                TableDatatablesWifeData.init();
                //Son
                TableDatatablesSonData.init();
                //Daughter
                TableDatatablesDaughterData.init();
                //SonWife
               //TableDatatablesSonWifeData.init();
               //SonChild
                //TableDatatablesSonChildData.init();
            }
            else {
                TableDatatablesColreorder.init();

            }

            //FormClientValidation.init();
        });

        function Cancle() {
            history.back();
        }

    var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.MainMember, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [

               
               {
                   "title": "Main Member Details","data": "",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += '<p>' + '<b>NAME: ' + row["FirstName"] + ' ' + row["MiddleName"] + ' ' + row["Surname"] + '</b></p>';
                        htmlData += '<p>' + '<b>Email: </b>'+ row["Email"] + '</p>';
                        htmlData += '<p>' + '<b>PhoneNumber: </b>' + row["Mobile"] + '</p>';
                        return htmlData;
                    }
                    , "orderable": false, "width": "5%"
                },
               { "title": "Member Number", "data": "MemberNumber", "orderable": false, "width": "1%" },

               { "title": "Gotra", "data": "Gotra", "orderable": false, "width": "1%" },
               { "title": "Education", "data": "Education", "orderable": false, "width": "1%" },
               { "title": "Occupation", "data": "Occupation", "orderable": false, "width": "1%" },
               { "title": "Blood Group", "data": "BloodGroup", "orderable": false, "width": "1%" },
               { "title": "Rajasthan District", "data": "RajasthanDistrict", "orderable": false, "width": "1%" },
               {
                   "title": "Gender", "data": "",
                   "render": function (data, type, row) {
                       if (row["Gender"] == 2) {
                           return 'Female';
                       } else if (row["Gender"] == 1) {
                           return 'Male';
                       }
                       else {
                           return '-';
                       }
                   },
                   "orderable": false, "width": "1%"
               },
               {
                   "title": "Married", "data": "",
                   "render": function (data, type, row) {
                       if (row["Married"] == 2) {
                           return 'No';
                       } else if (row["Married"] == 1) {
                           return 'Yes';
                       }
                       else {
                           return '-';
                       }
                   },
                   "orderable": false, "width": "1%"
               },
               {
                   "title": "Engaged", "data": "",
                   "render": function (data, type, row) {
                       if (row["Engaged"] == 2) {
                           return 'No';
                       } else if (row["Engaged"] == 1) {
                           return 'Yes';
                       }
                       else {
                           return '-';
                       }
                   },
                   "orderable": false, "width": "1%"
               },
               {
                    "title":"Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a href="@Url.Action(Actions.Index, Controllers.MainMember)?Id=' + row["Id"] + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        //appendstring += '<a onclick=OpenAddNewItem(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" title="Edit MainMember "><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        //appendstring += '<a  class="btn btn-sm btn-outline-secondary" onclick=OpenAddNewItem("' + btoa(row["Id"]) + '") title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                       // appendstring += '<a  class="btn btn-sm btn-outline-secondary" onclick=ConfirmMessage("' + btoa(row["Id"]) + '") title="Delete MainMember "><i class="fa fa-trash"></i></a>&nbsp;&nbsp;';
                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                //{
                //    text: 'Add MainMember ',
                //    className: 'addData',
                //    action: function (e, dt, node, config) {
                //        OpenAddNewItem();
                //    }
                //}

                {
                    text: 'Search',
                    className: 'addFilters',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenMainMemberFilters();
                    }
                },

                 {
                    text: 'Advance Search',
                    className: 'addFilters',
                    action: function (e, dt, node, config) {
                        window.location.href = '@Url.Action(Actions.AdvanceDirectory, Controllers.MainMember, new { area =""})';
                    }
                }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

        function BuildSearchCriteria() {
            try {
                var param = {};
                param["MemberNumber"] = $("#SearchMemberNumber").val();
                param["CityId"] = $("#SearchCityId").val();
                param["FirstName"] = $("#SearchFirstName").val();
                param["EducationId"] = $("#SearchEducationId").val();
                param["Gotra"] = $("#SearchGotra").val();
                param["Gender"] = $("#SearchGender").val();
                param["Married"] = $("#SearchMarried").val();
                param["BloodGroupId"] = $("#SearchBloodGroupId").val();
                param["Engaged"] = $("#SearchEngaged").val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function OpenMainMemberFilters() {
            $("#by_mainmember").modal("show");
        }

        function MainMemberSearch() {
            $("#by_mainmember").modal("hide");
            TableDatatablesColreorder.init();
            //debugger;
            //if ($("#SearchBloodGroupId").val() != 0 || $("#SearchEngaged").val() != 0 || $("#SearchGender").val() != 0) {
            ////Wife
            //TableDatatablesWifeData.init();
            ////Son
            //TableDatatablesSonData.init();
            ////Daughter
            //TableDatatablesDaughterData.init();
            ////SonWife
            //TableDatatablesSonWifeData.init();
            ////SonChild
            //TableDatatablesSonChildData.init();
            //}
        }

        function MainMemberReset() {
            $("#SearchMemberNumber").val('');
            $("#SearchEducationId").val('');
            $("#SearchCityId").val('');
            $("#SearchFirstName").val('');
            $("#SearchGotra").val('');
            //$("#SearchGender").val(0);
            //$("#SearchMarried").val(0);
            $("#SearchBloodGroupId").val('');
            //$("#SearchEngaged").val(0);
            $("#by_mainmember").modal("hide");
            TableDatatablesColreorder.init();
            //debugger;
            //if ($("#SearchBloodGroupId").val(0) || $("#SearchEngaged").val(0) || $("#SearchGender").val(0)) {
            //    //Wife
            //    TableDatatablesWifeData.init();
            //    //Son
            //    TableDatatablesSonData.init();
            //    //Daughter
            //    TableDatatablesDaughterData.init();
            //    //SonWife
            //    TableDatatablesSonWifeData.init();
            //    //SonChild
            //    TableDatatablesSonChildData.init();
            //}
        }

        function GetById() {

            $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetById, Controllers.MainMember)',
            data: ({ Id: $("#Id").val()}),
            dataType: 'json',
                 success: function (response) {
                     if (response.Code == 200 && response.Item != null) {
                         $("#Id").val(response.Item.Id);
                         $("#MemberNumber").val(response.Item.MemberNumber);
                         $("#FirstName").val(response.Item.FirstName);
                         $("#MiddleName").val(response.Item.MiddleName);
                         $("#Surname").val(response.Item.Surname);
                         $("#Gotra").val(response.Item.Gotra);
                         $("#Education").val(response.Item.Education);
                         $("#Occupation").val(response.Item.Occupation);
                         $("#BloodGroupId").val(response.Item.BloodGroupId);
                         $("#BloodGroup").val(response.Item.BloodGroup);
                         $("#WorkAdress").val(response.Item.WorkAdress);
                         $("#HomeAdress").val(response.Item.HomeAdress);
                         $("#RajasthanMulVatan").val(response.Item.RajasthanMulVatan);
                         $("#RajasthanDistrictId").val(response.Item.RajasthanDistrictId);
                         $("#RajasthanDistrict").val(response.Item.RajasthanDistrict);
                         $("#Pato").val(response.Item.Pato);
                         $("#Email").val(response.Item.Email);
                         $("#Mobile").val(response.Item.Mobile);
                         $("#MainMemberId").val(response.Item.Id);
                         $("#CityName").val(response.Item.CityName);
                         if (response.Item.Engaged == 1) {
                             $("#EngagedValue").val("Yes");
                         } else if (response.Item.Engaged == 2) {
                             $("#EngagedValue").val("No");
                         } else {
                             $("#EngagedValue").val("-");
                         }

                         if (response.Item.Married == 1) {
                             $("#MarriedValue").val("Yes");
                         } else if (response.Item.Married == 2){
                             $("#MarriedValue").val("No");
                         }
                         else {
                         $("#EngagedValue").val("-");
                        }
                         if (response.Item.Gender == 1) {
                             $("#GenderValue").val("Male");
                         } else if (response.Item.Gender == 2){
                             $("#GenderValue").val("Female");
                            }
                        else {
                        $("#EngagedValue").val("-");
                        }
                   }
                 else {
                     swal("Error !", "An error occured. Try Again", "error");
                 }
            },
            error: function (error) {
               swal("Error !", "An error occured. Try Again", "error");
            }
        });
        }


//////////////************************************Wife****************************************************//////
            var TableDatatablesWifeData = function () {

     var initTable1 = function () {
        var table = $('#WifeDataTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindWifeData, Controllers.MainMember, new { area =""})',
                type: "post",
                data: BuildSearchCriteria2()
            },
            "columns": [

               { "title": "Name", "data": "Name", "orderable": false, "width": "1%" },
               { "title": "Date Of Birth", "data": "DateOfBirth", "orderable": false, "width": "1%" },
               { "title": "Mobile Number", "data": "Mobile", "orderable": false, "width": "1%" },
               { "title": "Education", "data": "Education", "orderable": false, "width": "1%" },
               { "title": "Occupation", "data": "Occupation", "orderable": false, "width": "1%" },
               { "title": "Blood Group", "data": "BloodGroup", "orderable": false, "width": "1%" },
               { "title": "Piyarnu Gotra", "data": "Piyarnugotra", "orderable": false, "width": "1%" },
               { "title": "Piyarnu gaam Gujarat", "data": "PiyarnugaamGujarat", "orderable": false, "width": "1%" },
               { "title": "Piyarnu gaam Rajasthan", "data": "PiyarnugaamRajasthan", "orderable": false, "width": "1%" },
               { "title": "Daughter Of", "data": "DaughterOf", "orderable": false, "width": "1%" },

               @*{
                    "title":"Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        //appendstring += '<a href="@Url.Action(Actions.DeleteWife, Controllers.Wife)?ri=' + btoa(row["Id"]) + '" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        appendstring += '<a onclick=OpenAddNewItem1(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" title="Edit Wife "><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        //appendstring += '<a  class="btn btn-sm btn-outline-secondary" onclick=OpenAddNewItem("' + btoa(row["Id"]) + '") title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        appendstring += '<a  class="btn btn-sm btn-outline-secondary" onclick=ConfirmMessage("' + btoa(row["Id"]) + '") title="Delete Wife "><i class="fa fa-trash"></i></a>&nbsp;&nbsp;';
                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }*@
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                //{
                //    text: 'Add Wife ',
                //    className: 'addData',
                //    action: function (e, dt, node, config) {
                //        OpenAddNewItem1();
                //    }
                //}

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#WifeDataTable")) {
                $('#WifeDataTable').dataTable().fnDestroy();
                $('#divWifeDataTable').html('<table class="table table-striped" width="100%" id="WifeDataTable"></table>');
            }
            initTable1();
        }
    };

        }();



//////////////************************************Son****************************************************//////

            var TableDatatablesSonData = function () {

     var initTable1 = function () {
        var table = $('#SonDataTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindSonData, Controllers.MainMember, new { area =""})',
                type: "post",
                data: BuildSearchCriteria2()
            },
            "columns": [
                {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';

                        appendstring += '<a onclick=GetBySonId(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" title="View Data "><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        //appendstring += '<a  class="btn btn-sm btn-outline-secondary" onclick=OpenAddNewItem("' + btoa(row["Id"]) + '") title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        //appendstring += '<a  class="btn btn-sm btn-outline-secondary" onclick=ConfirmMessage1("' + btoa(row["Id"]) + '") title="Delete Son "><i class="fa fa-trash"></i></a>&nbsp;&nbsp;';
                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                },

                { "title": "First Name", "data": "FirstName", "orderable": false, "width": "1%" },
                { "title": "Middle Name", "data": "MiddleName", "orderable": false, "width": "1%" },
                { "title": "Surname", "data": "Surname", "orderable": false, "width": "1%" },
                { "title": "Date Of Birth", "data": "DateOfBirth", "orderable": false, "width": "1%" },
                {
                    "title": "Marital status", "data": "",
                    "render": function (data, type, row) {
                        if (row["Married"] == 1) {
                            return 'Yes';
                        } else if (row["Married"] == 2) {
                            return 'No';
                        } else {
                            return '-';
                        }
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": " Engaged", "data": "",
                    "render": function (data, type, row) {
                        if (row["Engaged"] == 1) {
                            return 'Yes';
                        } else if (row["Engaged"] == 2) {
                            return 'No';
                        } else {
                            return '-';
                        }
                    },
                    "orderable": false, "width": "1%"
                },
                { "title": "Email", "data": "Email", "orderable": false, "width": "1%" },
                { "title": "Education", "data": "Education", "orderable": false, "width": "1%" },
                { "title": "Occupation", "data": "Occupation", "orderable": false, "width": "1%" },
                { "title": "Blood Group", "data": "BloodGroup", "orderable": false, "width": "1%" },
                
                {
                    "title": " Study Completed", "data": "",
                    "render": function (data, type, row) {
                        if (row["IsStudyCompleted"] == 1) {
                            return 'Yes';
                        } else if (row["IsStudyCompleted"] == 2) {
                            return 'No';
                        } else {
                            return '-';
                        }
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "Work Address", "data": "",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += '<p>' + row["WorkAddress"] + '</p>';

                        return htmlData;
                    }
                    , "orderable": false, "width": "1%"
                }
               




            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                //{
                //    text: 'Add Son ',
                //    className: 'addData',
                //    action: function (e, dt, node, config) {
                //        OpenAddNewItem2();
                //    }
                //}


            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overfIdlow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#SonDataTable")) {
                $('#SonDataTable').dataTable().fnDestroy();
                $('#divSonDataTable').html('<table class="table table-striped" width="100%" id="SonDataTable"></table>');
            }
            initTable1();
        }
    };

            }();


    function GetBySonId(SonId)
    {
        debugger;
        $("#SonId1").val(SonId);
        $('#sondatashow').modal('show');
        TableDatatablesSonWifeData.init();
        TableDatatablesSonChildData.init();

            }
        function Close() {
            $('#sondatashow').modal('hide');
        }
//////////////************************************Daughter****************************************************//////

var TableDatatablesDaughterData = function () {

     var initTable1 = function () {
        var table = $('#DaughterDataTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindDaughterData, Controllers.MainMember, new { area =""})',
                type: "post",
                data: BuildSearchCriteria2()
            },
            "columns": [
                { "title": "Name", "data": "Name", "orderable": false, "width": "1%" },
                { "title": "Date Of Birth", "data": "DateOfBirth", "orderable": false, "width": "1%" },
                { "title": "Education", "data": "Education", "orderable": false, "width": "1%" },
                { "title": "Occupation", "data": "Occupation", "orderable": false, "width": "1%" },
                { "title": "Blood Group", "data": "BloodGroup", "orderable": false, "width": "1%" },
                { "title": "Husband Name", "data": "HusbandName", "orderable": false, "width": "1%" },
                { "title": "Husband's Fathername", "data": "HusbandFathername", "orderable": false, "width": "1%" },
                { "title": "Gotra", "data": "Gotra", "orderable": false, "width": "1%" },
                { "title": "Husband Education", "data": "HusbandEducation", "orderable": false, "width": "1%" },
                { "title": "Gujarat Nu Gaam", "data": "GujaratNuGaam", "orderable": false, "width": "1%" },
                { "title": "Rajasthan Nu Gaam", "data": "RajasthanNuGaam", "orderable": false, "width": "1%" },

                {
                    "title": "Study Completed", "data": "",
                    "render": function (data, type, row) {
                        if (row["IsStudycompleted"] == 1) {
                            return 'Yes';
                        } else if (row["IsStudycompleted"] == 2) {
                            return 'No';
                        } else {
                            return '-';
                        }
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "Marital status", "data": "",
                    "render": function (data, type, row) {
                        if (row["Married"] == 1) {
                            return 'Yes';
                        } else if (row["Married"] == 2) {
                            return 'No';
                        }
                        else {
                            return '-';
                        }
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": " Engaged", "data": "",
                    "render": function (data, type, row) {
                        if (row["Engaged"] == 1) {
                            return 'Yes';
                        } else if (row["Engaged"] == 2) {
                            return 'No';
                        }
                        else {
                            return '-';
                        }
                    },
                    "orderable": false, "width": "1%"
                },

            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                //{
                //    text: 'Add Daughter ',
                //    className: 'addData',
                //    action: function (e, dt, node, config) {
                //        OpenAddNewItem3();
                //    }
                //}


            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#DaughterDataTable")) {
                $('#DaughterDataTable').dataTable().fnDestroy();
                $('#divDaughterDataTable').html('<table class="table table-striped" width="100%" id="DaughterDataTable"></table>');
            }
            initTable1();
        }
    };

  }();



////////////**********************SonWife********************************************////////
         var TableDatatablesSonWifeData = function () {

     var initTable1 = function () {
        var table = $('#SonWifeDataTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindSonWifeData, Controllers.MainMember, new { area =""})',
                type: "post",
                data: BuildSearchCriteria3()
            },
            "columns": [

               { "title": "Name", "data": "Name", "orderable": false, "width": "1%" },
               { "title": "Date Of Birth", "data": "DateOfBirth", "orderable": false, "width": "1%" },
               { "title": "Mobile Number", "data": "Mobile", "orderable": false, "width": "1%" },
               { "title": "Education", "data": "Education", "orderable": false, "width": "1%" },
               { "title": "Occupation", "data": "Occupation", "orderable": false, "width": "1%" },
               { "title": "Blood Group", "data": "BloodGroup", "orderable": false, "width": "1%" },
               { "title": "Piyarnu Gotra", "data": "Piyarnugotra", "orderable": false, "width": "1%" },
               { "title": "Piyarnu gaam Gujarat", "data": "PiyarnugaamGujarat", "orderable": false, "width": "1%" },
               { "title": "Piyarnu gaam Rajasthan", "data": "PiyarnugaamRajasthan", "orderable": false, "width": "1%" },
               { "title": "Daughter Of", "data": "Daughterof", "orderable": false, "width": "1%" },

            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#SonWifeDataTable")) {
                $('#SonWifeDataTable').dataTable().fnDestroy();
                $('#divSonWifeDataTable').html('<table class="table table-striped" width="100%" id="SonWifeDataTable"></table>');
            }
            initTable1();
        }
    };

        }();

   ////////*****************************SonChild****************************//////////
         var TableDatatablesSonChildData = function () {

     var initTable1 = function () {
        var table = $('#SonChildDataTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindSonChildData, Controllers.MainMember, new { area =""})',
                type: "post",
                data: BuildSearchCriteria3()
            },
            "columns": [
                { "title": "Name", "data": "Name", "orderable": false, "width": "1%" },
                { "title": "Date Of Birth", "data": "DateOfBirth", "orderable": false, "width": "1%" },
                {
                    "title": "Gender", "data": "",
                    "render": function (data, type, row) {
                        if (row["Gender"] == 2) {
                            return 'Female';
                        } else if (row["Gender"] == 1) {
                            return 'Male';
                        }
                        else {
                            return '-';
                        }
                    },
                    "orderable": false, "width": "1%"
                },
                { "title": "Blood Group", "data": "BloodGroup", "orderable": false, "width": "1%" },
                { "title": "Education", "data": "Education", "orderable": false, "width": "1%" },
                {
                    "title": "Study Completed", "data": "",
                    "render": function (data, type, row) {
                        if (row["Isstudycompleted"] == 1) {
                            return 'Yes';
                        } else if (row["Isstudycompleted"] == 2) {
                            return 'No';
                        }
                        else {
                            return '-';
                        }
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "Married", "data": "",
                    "render": function (data, type, row) {
                        if (row["Married"] == 2) {
                            return 'No';
                        } else if (row["Married"] == 1) {
                            return 'Yes';
                        }
                        else {
                            return '-';
                        }
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "Engaged", "data": "",
                    "render": function (data, type, row) {
                        if (row["Engaged"] == 2) {
                            return 'No';
                        } else if (row["Engaged"] == 1) {
                            return 'Yes';
                        }
                        else {
                            return '-';
                        }
                    },
                    "orderable": false, "width": "1%"
                },


            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                //{
                //    text: 'Add Child',
                //    className: 'addData',
                //    action: function (e, dt, node, config) {
                //        OpenAddNewItem1();
                //    }
                //}
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#SonChildDataTable")) {
                $('#SonChildDataTable').dataTable().fnDestroy();
                $('#divSonChildDataTable').html('<table class="table table-striped" width="100%" id="SonChildDataTable"></table>');
            }
            initTable1();
        }
    };

        }();




        function BuildSearchCriteria2() {
            try {
        var param = {};
        param["Search"] = " ";
        param["MainMemberId"] = @ViewBag.Id;
        param["BloodGroupId"] = $("#SearchBloodGroupId").val();
        param["Engaged"] = $("#SearchEngaged").val();
        param["Gender"] = $("#SearchGender").val();
        return addRequestVerificationToken(param);
    } catch (e) { }
         } // aa che ?

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }


         function BuildSearchCriteria3() {
             try {
        var param = {};
        param["Search"] = " ";
        param["SonId"] = $("#SonId1").val();
        param["BloodGroupId"] = $("#SearchBloodGroupId").val();
        param["Engaged"] = $("#SearchEngaged").val();
        param["Gender"] = $("#SearchGender").val();
         return addRequestVerificationToken2(param);
    } catch (e) { }// aa
        }
         function addRequestVerificationToken2(data) {
             data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
             return data;
         }







    </script>

    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}
