﻿
@{
    ViewBag.Title = "VideoGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GlodCleaning.Common;
@using GlodCleaning.Entities.V1;
@using GlodCleaning.Entities.Contract;
@using GlodCleaningClient.Pages;
@using GlodCleaningClient.Infrastructure;
@model List<AbstractVideoGallery>


<style>
    .custome-img {
        height: 330px !important;
    }

    .item-content {
        padding: 20px 0 !important;
    }

    .custome-padding {
        padding: 35px 0 !important;
    }
</style>


<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container custome-padding">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Video Gallery</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            Home
                        </a>
                    </li>
                    <li class="active">Video Gallery</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        <div class="row">
           
        <div class="col-sm-8 col-sm-push-2 topmargin_0">
            <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20" data-filters=".isotope_filters">
                @for (int i = 0; i < Model.Count; i++)
                 {
                <div class="isotope-item col-lg-12 col-md-12 col-sm-12 category-1">
                    <div class="vertical-item gallery-item content-absolute text-center ds">
                        <div class="item-media">

                            <div class="embed-responsive embed-responsive-3by2">
                                <div class="container">
                                    <iframe class="responsive-iframe" src="@Model[i].Url"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                }
            </div>
            <!-- eof .isotope_container.row -->
            @*<div class="row">
                <div class="col-sm-12 text-center">
                    <div class="topmargin_30">
                        <ul class="pagination">
                            <li><a href="#"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
        </div>
            
        </div>
    </div>
</section>