﻿@using OptnBuy.Pages;
@using OptnBuy.Infrastructure;
@using OptnBuy.Entities.V1;

@{
    ViewBag.Title = "Player Sign Up";
    Layout = null;
    string userName = string.Empty;
    string password = string.Empty;

    if (Request.Cookies["AdminUserLogin"] != null)
    {
        userName = Convert.ToString(Request.Cookies["AdminUserLogin"].Values["UserName"]);
        password = Convert.ToString(Request.Cookies["AdminUserLogin"].Values["Password"]);
    }
}

<!doctype html>
<html lang="en">


<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:21:05 GMT -->
<head>
    <title>Player Sign Up | Touch Lynk</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Lucid Bootstrap 4x Admin Template">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/dropify/css/dropify.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">


    @*<link rel="stylesheet" href="~/assets/validation/css/components-md.min.css" />*@

    <script src="~/assets/validation/js/jquery.min.js"></script>
    <script src="~/assets/validation/js/bootstrap.min.js"></script>
    <script src="~/assets/validation/js/jquery.blockui.min.js"></script>

    <style>
        .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #e73d4a
        }

        .has-error .form-control {
            border-color: #e73d4a;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        }

            .has-error .form-control:focus {
                border-color: #d71b29;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
            }

        .has-error .input-group-addon {
            color: #e73d4a;
            border-color: #e73d4a;
            background-color: #fbe1e3
        }

        .auth-main-reg {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: url(../../Images/playerRegistration.jpg) no-repeat center center fixed;
            background-image: url(../../Images/playerRegistration.jpg);
            background-position-x: center;
            background-position-y: center;
            background-size: cover;
            background-repeat-x: no-repeat;
            background-repeat-y: no-repeat;
            background-attachment: fixed;
            background-origin: initial;
            background-clip: initial;
            background-color: initial;
            background-size: cover;
        }
    </style>

</head>

<body class="theme-orange">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">

                    </div>
                    <div class="card">
                        <div class="header">
                            <img src="~/assets/images/tl.png" style="width: 149px !important;" alt="Lucid">
                            <p class="lead"><span style="font-weight:bolder;">@ViewBag.TeamName's</span> Player Registration</p>
                        </div>
                        <div class="body">
                            <h5 style="text-align:center;color:red;" id="wrgMsg"></h5>
                            <form class="form-auth-small" method="post" action="" id="frmLogin">
                                <input type="hidden" id="rui" />
                                <div class="col-12 playerUpload">
                                    <div class="form-group">
                                        <input type="file" id="PlayerFileUpload" name="PlayerFileUpload" class="dropify">
                                        <div class="mt-3"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="signin-email" class="control-label sr-only">First Name</label>
                                    <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <label for="signin-email" class="control-label sr-only">Last Name</label>
                                    <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <label for="signin-email" class="control-label sr-only">Position</label>
                                    <input type="text" class="form-control" id="Position" name="Position" placeholder="Position">
                                </div>
                                <div class="form-group">
                                    <label for="signin-email" class="control-label sr-only">Jersey No</label>
                                    <input type="number" class="form-control" id="JerseyNo" name="JerseyNo" placeholder="Jersey No">
                                </div>
                                <div class="form-group">
                                    <label for="signin-email" class="control-label sr-only">Dob</label>
                                    <input type="text" class="form-control" id="Dob" name="Dob" placeholder=" Dob">
                                </div>
                                <div class="form-group">
                                    <label for="signin-email" class="control-label sr-only">Mobile</label>
                                    <input type="number" class="form-control" id="Mobile" name="Mobile" placeholder="Mobile">
                                </div>
                                <input type="submit" id="register" class="btn btn-primary btn-lg btn-block" value="Register">
                                <button class="btn btn-primary btn-lg btn-block loading" type="button" disabled style="display:none;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Registering...
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->

    <script>
        jQuery(document).ready(function () {
            $("#wrgMsg").hide();
            $("#rui").val('@ViewBag.rui');
            FormValidation.init();
        });

        var FormValidation = function () {

            // basic validation
            var handleValidation1 = function () {

                var form1 = $('#frmLogin');
                var error1 = $('.alert-danger', form1);
                //var success1 = $('.alert-success', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        FirstName: {
                            required: true
                        },
                        LastName: {
                            required: true
                        },
                        Position: {
                            required: true
                        },
                        Dob: {
                            required: true
                        },
                        Mobile: {
                            required: true,
                            number : true
                        },
                        Email: {
                            required: true,
                            email: true
                        },
                        Password: {
                            required: true
                        },
                        JerseyNo: {
                            required: true
                        }
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },


                     submitHandler: function (form) {
                        AditPlayer();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                }
            };
    }();


        function AditPlayer() {
            $("#register").hide();
            $(".loading").show();

            var formData = new FormData();

             var file = document.getElementById("PlayerFileUpload").files[0];
            formData.append("Id", atob($("#rui").val()));
            formData.append("FirstName", $("#FirstName").val());
            formData.append("LastName", $("#LastName").val());
            formData.append("Position", $("#Position").val());
            formData.append("Dob", $("#Dob").val());
            formData.append("MobileNo", $("#Mobile").val());
            formData.append("JerseyNo", $("#JerseyNo").val());
            formData.append("file", file);

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.AditPlayer,Controllers.Authentication)',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response != null && response.Code == 200) {
                    $(".loading").hide();
                    $("#wrgMsg").hide();
                    window.location.href = '@Url.Action("ThankYou",Controllers.Authentication)';
                } else if (response != null && (response.Code == 400 || response.Code == 403)) {
                    $(".loading").hide();
                    $("#register").show();
                    $("#wrgMsg").show();
                    $("#wrgMsg").text(response.Message);
                } else {
                    $(".loading").hide();
                    $("#register").show();
                    $("#wrgMsg").show();
                    $("#wrgMsg").text("An error has occured !");
                }
            },
            error: function (error) {
                $(".loading").hide();
            }
        });
            }




    </script>

    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    @*<script src="~/assets/validation/js/datatable.js"></script>
        <script src="~/assets/validation/js/datatables.min.js"></script>
        <script src="~/assets/validation/js/datatables.bootstrap.js"></script>*@
    @*<script src="~/assets/validation/js/select2.full.min.js"></script>*@
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    @*<script src="~/assets/validation/js/table-datatables-buttons.min.js"></script>
        <script src="~/assets/validation/js/components-bootstrap-switch.min.js"></script>
        <script src="~/assets/validation/js/components-select2.min.js"></script>
        <script src="~/assets/validation/js/moment.min.js"></script>
        <script src="~/assets/validation/js/moment-with-locales.min.js"></script>*@
    @*<script src="~/assets/validation/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/assets/validation/js/bootstrap-datepicker.min.js"></script>*@
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/validation/js/layout.min.js"></script>
    @*<script src="~/assets/validation/js/demo.min.js"></script>
        <script src="~/assets/validation/js/quick-sidebar.min.js"></script>
        <script src="~/assets/validation/js/quick-nav.min.js"></script>*@
    <script src="~/assets/validation/js/common.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>

</body>
<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:21:05 GMT -->
</html>




