﻿<!DOCTYPE html>
<html>
<head>
    <title> @ViewBag.RestaurantName </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,450;0,600;0,700;0,800;1,500&display=swap" rel="stylesheet">

</head>
<body class="main-background-color">

    <div class="app-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="app-content">
                        <h2>
                            @ViewBag.RestaurantName
                        </h2>
                        <p class="mb-0">
                            @ViewBag.Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <script src="~/assets/validation/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/custome.js"></script>


</body>
</html>