﻿@using GlodCleaning.Common;
@using GlodCleaning.Pages;

    @*<ul class="main-menu metismenu">
        <li class="items"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})" id="dashboard"><i class="icon-speedometer"></i><span>Home</span></a></li>
        <li class="items"><a href="@Url.Action(Actions.Index,Controllers.Users,new { Area=""})" id="clients"><i class="icon-users"></i><span>Users</span></a></li>
        @if (ProjectSession.AdminRoleID == 1)
        {
            <li class="items"><a href="@Url.Action(Actions.Index,Controllers.Teams,new { Area=""})" id="teams"><i class="icon-users" id="teams"></i><span>Teams</span></a></li>
        }
        else
        {
            <li class="items"><a href="@Url.Action(Actions.Manage, Controllers.Teams, new { ri = ConvertTo.Base64Encode(ProjectSession.TempId.ToString())})" id="teams"><i class="icon-users" id="teams"></i><span>Team</span></a></li>
        }
        <li class="items"><a href="@Url.Action(Actions.Index,Controllers.Schedules,new { Area=""})" id="schedules"><i class="icon-calendar" id="schedules"></i><span>Schedules</span></a></li>

    </ul>*@
<ul class="main-menu metismenu">
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})" id="Dashboard"><i class="icon-bar-chart"></i><span>Dashboard</span></a></li>
    @*<li class="custom">
        <a href="#Projects" class="has-arrow" id="Master"><i class="icon-list"></i><span>Directory</span></a>
        <ul aria-expanded="false" class="collapse in">
            <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.MainMember,new { Area=""})" id="MainMember"><i class="icon-users"></i><span>Main member</span></a></li>*@
            @*<li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Wife,new { Area=""})" id="Wife"><i class="icon-user"></i><span>Wife</span></a></li>
            <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Daughter,new { Area=""})" id="Daughter"><i class="icon-user-following"></i><span>Daughter</span></a></li>
            <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Son,new { Area=""})" id="Son"><i class="icon-user-following"></i><span>Son</span></a></li>
            <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.SonWife,new { Area=""})" id="SonWife"><i class="icon-user-following"></i><span>Son's Wife</span></a></li>
            <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.SonChild,new { Area=""})" id="SonChild"><i class="icon-user-following"></i><span>Son's Child</span></a></li>*@


            @*<li class="custom"><a href="@Url.Action(Actions.Index,Controllers.SonChild,new { Area=""})" id="SonChild"><i class="icon-login"></i><span>SonChild</span></a></li>*@
            @*<li class="custom"><a href="@Url.Action(Actions.Index,Controllers.VideoGallery,new { Area=""})" id="VideoGallery"><i class="icon-login"></i><span>VideoGallery</span></a></li>*@
        @*</ul>
    </li>*@
    @*<li class="custom"><a href="@Url.Action(Actions.Index,Controllers.PageImages,new { Area=""})" id="PageImages"><i class="note-icon-picture"></i><span>Page Images</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Advertisement,new { Area=""})" id="Advertisement"><i class="icon-anchor"></i><span>Advertisement</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.MainMember,new { Area=""})" id="MainMember"><i class="icon-diamond"></i><span>Main member</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.CommitteeMember,new { Area=""})" id="CommitteeMember"><i class="icon-users"></i><span>Committee Members</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Donors,new { Area=""})" id="Donors"><i class="icon-user-following"></i><span>Donors</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.LatestAnnouncement,new { Area=""})" id="LatestAnnouncement"><i class="fa fa-bullhorn"></i><span>Latest Announcement</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.LatestEvent,new { Area=""})" id="LatestEvent"><i class="fa fa-calendar"></i><span>Latest Events</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.RitRivaz,new { Area=""})" id="RitRivaz"><i class="icon-doc"></i><span>Rit Rivaz</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.PhotoGallery,new { Area=""})" id="PhotoGallery"><i class="icon-picture"></i><span>Photo Gallery</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.VideoGallery,new { Area=""})" id="VideoGallery"><i class="note-icon-video"></i><span>Video Gallery</span></a></li>*@
    <li class="custom"><a href="@Url.Action(Actions.ChangePassword,Controllers.Profile,new { Area=""})" id="ChangePassword"><i class="icon-notebook"></i><span>ChangePassword</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Logout,Controllers.Authentication,new { Area=""})" id="Logout"><i class="icon-login"></i><span>Logout</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Customers,new { Area=""})" id="Logout"><i class="icon-bar-chart"></i><span>Customers</span></a></li>
    <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.CustomerTransactions,new { Area=""})" id="Logout"><i class="icon-bar-chart"></i><span>CustomerTransactions</span></a></li>
</ul>

