﻿
@{
    ViewBag.Title = "Donors";
}
@using GlodCleaning.Common;
@using GlodCleaning.Entities.V1;
@using GlodCleaning.Entities.Contract;
@using GlodCleaningClient.Pages;
@using GlodCleaningClient.Infrastructure;
@model List<AbstractDonors>

<style>
    .custome-img
    {
        height:330px !important;
    }
    .item-content
    {
        padding:20px 0 !important;
    }
    .custome-padding
    {
        padding:35px 0 !important;
    } 
</style> 


<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container custome-padding">
        <div class="row">
            <div class="col-sm-12 text-center ">
                <h2>Donors</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            Home
                        </a>
                    </li>
                    <li class="active">Donors</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="filters isotope_filters">
                    <a href="#" class="selected" data-filter=".all">All</a>
                    <a href="#" data-filter=".bhojan_data" style="padding: 0 12px;">Bhojan data</a>
                    <a href="#" data-filter=".inaam_vitaran_data" style="padding: 0 12px;">Inaam vitaran data</a>
                    <a href="#" data-filter=".blood_donors" style="padding: 0 12px;">Blood donors</a>

                </div>
                <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20" data-filters=".isotope_filters">

                    
                        @for (int i = 0; i < Model.Count; i++)
                         {
                              <div class="isotope-item col-lg-4 col-md-6 col-sm-12 all">
                        <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                            <div class="item-media">
                                <img src="@Model[i].UrlStr" class="custome-img" alt="">
                                <div class="media-links">
                                    <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <header class="entry-header">
                                    <div class="categories-links small-text highlightlinks">  @Model[i].DonorsName </div>
                                    <h3 class="entry-title small bottommargin_0">
                                        <a href="#" rel="bookmark">
                                            @Model[i].Name
                                        </a>
                                    </h3>

                                    <a href="tel:@Model[i].MobileNumber">
                                        <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                                    </a>
                                   
                                </header>
                            </div>
                        </article>
                    </div>
                         }
                    

                    <div class="isotope-item col-lg-4 col-md-6 col-sm-12 bhojan_data">
                        @for (int i = 0; i < Model.Count; i++)
        {
            if (@Model[i].DonorsType == 4)
            {
                <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                    <div class="item-media">
                        <img src="@Model[i].UrlStr" class="custome-img" alt="">
                        <div class="media-links">
                            <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                        </div>
                    </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <div class="categories-links small-text highlightlinks">  BHOJAN DATA </div>
                            <h3 class="entry-title small bottommargin_0">
                                <a href="#" rel="bookmark">
                                    @Model[i].Name
                                </a>
                            </h3>

                            <a href="tel:@Model[i].MobileNumber">
                                <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                            </a>
                           
                        </header>
                    </div>
                </article>
}
}
                    </div>

                    <div class="isotope-item col-lg-4 col-md-6 col-sm-12 inaam_vitaran_data">
                        @for (int i = 0; i < Model.Count; i++)
        {
            if (@Model[i].DonorsType == 5)
            {
                <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                    <div class="item-media">
                        <img src="@Model[i].UrlStr" class="custome-img" alt="">
                        <div class="media-links">
                            <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                        </div>
                    </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <div class="categories-links small-text highlightlinks"> INAAM VITARAN DATA </div>
                            <h3 class="entry-title small bottommargin_0">
                                <a href="#" rel="bookmark">
                                    @Model[i].Name
                                </a>
                            </h3>

                            <a href="tel:@Model[i].MobileNumber">
                                <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                            </a>
                           
                        </header>
                    </div>
                </article>
}
}
                    </div>

                    <div class="isotope-item col-lg-4 col-md-6 col-sm-12 blood_donors">
                        @for (int i = 0; i < Model.Count; i++)
        {
            if (@Model[i].DonorsType == 6)
            {
                <article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                    <div class="item-media">
                        <img src="@Model[i].UrlStr" class="custome-img" alt="">
                        <div class="media-links">
                            <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="@Model[i].UrlStr"></a> </div>
                        </div>
                    </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <div class="categories-links small-text highlightlinks">  BLOOD DONORS </div>
                            <h3 class="entry-title small bottommargin_0">
                                <a href="#" rel="bookmark">
                                    @Model[i].Name
                                </a>
                            </h3>

                            <a href="tel:@Model[i].MobileNumber">
                                <i class="fa fa-phone">M: @Model[i].MobileNumber</i>
                            </a>
                           
                        </header>
                    </div>
                </article>
}
}
                    </div>


                </div>
                @*<div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="topmargin_30">
                            <ul class="pagination">
                                <li><a href="#"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    
</section>

