﻿@using GlodCleaningClient.Pages;
@{
    /**/

    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]);
}


<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from websmirno.site/html-demo/proclena/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Mar 2020 17:37:46 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="html 5 template, cleaning service template, cleaning template, cleaning company template">
    <meta name="author" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <title>Glod Services | @ViewBag.Title</title>
    <!-- Vendors -->
    <link href="~/Styles/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="~/Styles/vendor/animate.min.css" rel="stylesheet">
    <link href="~/Styles/vendor/slick.css" rel="stylesheet">
    <link href="~/Styles/vendor/lightbox.css" rel="stylesheet">
    <link href="~/Styles/vendor/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="~/Styles/vendor/nouislider.css" rel="stylesheet">
    <!-- Template Style -->
    <link href="~/Styles/custom.css" rel="stylesheet">
    <link href="~/Styles/color.css" rel="stylesheet">
    <!-- Icon Font-->
    <link href="~/fonts/icomoon/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <style>
        .footer-color {
            color: black;
        }

 .book:hover{
    color: #fff!important;
}
    </style>


</head>

<body class="page-index">

    <header class="page-header page-header--style2 header-sticky">
        @Html.Partial("_Header")
    </header>

    <main class="page-main">
        @RenderBody()
    </main>

    <footer class="page-footer page-footer--style2">
        @Html.Partial("_Footer")
    </footer>

    <script src="~/Scripts/vendor/jquery.js"></script>
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/slick.min.js"></script>
    <script src="~/Scripts/vendor/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/vendor/lightbox.min.js"></script>
    <script src="~/Scripts/vendor/jquery.scroll-with-ease.min.js"></script>
    @*<script src="~/Scripts/vendor/jquery.form.js"></script>
        <script src="~/Scripts/vendor/jquery.validate.min.js"></script>*@

    <script src="~/Scripts/vendor/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/vendor/jquery.countTo.js"></script>
    <script src="~/Scripts/vendor/jquery.print.js"></script>
    <script src="~/Scripts/vendor/jquery.dotdotdot.min.js"></script>
    <script src="~/Scripts/vendor/jquery.doubletaptogo.min.js"></script>
    <script src="~/Scripts/vendor/nouislider.min.js"></script>
    <script src="~/Scripts/vendor/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="~/Scripts/vendor/jarallax.min.js"></script>

    <script src="~/Scripts/custom.js"></script>
    @*<script src="~/Scripts/forms.js"></script>*@
    <script src="~/Scripts/color.js"></script>

    <script>
        $(document).ready(function () {
            setSelectedMenu();
        });

        function setSelectedMenu() {
            $(".main-menu").find("li.active").each(function () {
                $(this).removeClass("active");
            });
            switch ('@curController') {
                case 'Covid':
                    setActiveLink($('#covid').attr('id'));
                    break;
                case '@Controllers.Home':
                    setActiveLink($('#home').attr('id'));
                    break;
                case '@Controllers.HomeCleaning':
                    setActiveLink($('#services').attr('id'));
                    setSubActiveLink($('#homecleaning').attr('id'));
                    break;
                case '@Controllers.EndOfLeaseCleaning':
                    setActiveLink($('#services').attr('id'));
                    setSubActiveLink($('#endofleasecleaning').attr('id'));
                    break;
                 case '@Controllers.OfficeCleaning':
                    setActiveLink($('#services').attr('id'));
                    setSubActiveLink($('#officecleaning').attr('id'));
                    break;
                case '@Controllers.About':
                    setActiveLink($('#aboutus').attr('id'));
                    break;
                case '@Controllers.BecomeCleaner':
                    setActiveLink($('#cleaner').attr('id'));
                    break;
            }
        }

        function setActiveLink(menuId) {
            $(".menu").find("a[id='" + menuId + "']").parent("li").addClass("active");
            $(".items").find("a[id='" + menuId + "']").parent("li").append("<span class='selected'></span>");
        };

        function setSubActiveLink(menuId) {
            $(".sub-menu").find("a[id='" + menuId + "']").parent("li").addClass("active");
            $(".sub-menu").find("a[id='" + menuId + "']").parent("li").append("<span class='selected'></span>");
        };
    </script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/vendor/moment.js"></script>
    <script src="~/Scripts/vendor/bootstrap-datetimepicker.min.js"></script>
</body>

</html>