body
{
	font-family: 'Poppins', sans-serif;
}
.main-background-color
{
	background: #15948d;
}

.success-body-color
{
	background: #00a71c;
	overflow: hidden;
}
.wrong-body-color
{
	background: #f51702;
	overflow: hidden;
}

.app-content-area
{
	padding: 15px;
	text-align: center;
}
.app-content h2
{
	font-size: 20px;
	font-weight: bold;
	color:#fff;

}
.app-content p
{
	color: #fff;
	font-size: 13px;	
}
.menu-area
{
	margin: 10px;
	padding: 15px;
	background: #fff;
	border-radius: 10px;
}
.menu-body p
{
	font-size: 13px;
	color: #848282;
	margin-bottom: 7px;
	font-weight: 500;
}
.menu-body h2
{
	font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
}
.menu-icon-txt img
{
	width: 45px;
	margin-bottom: 7px;
}
.menu-icon-txt p
{
	font-size: 12px;
	font-weight: 600;
}
.menu-bar-body .form-group label
{
	font-size: 14px;
	font-weight: 600;
}
.menu-bar-body .form-group input {
	border-radius: 0;
	height: 38px;
}
.menu-bar-body .form-group input:focus
{
	box-shadow: none;
}
.app-button-info
{
	border-radius: 0;
	height: 40px;
	background: #137b76;
	border-color: #137b76;
}
.app-content img
{
	width: 100px;
	margin-bottom: 10px;
}
.mes-area	
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}
.mes-txt
{
	font-weight: 300 !important;
	margin-bottom: 15px;
	margin-top: 15px;
}
.mes-txt b
{
	font-weight: 500;
}
.yn-content-card p
{
	font-size: 11px;
}
.next-button
{
	margin-bottom:20px;
}
.btn-back-next {
	font-size: 15px;
	background: #ffffff;
	color: #15948d;
	font-weight: 500;
	height: 45px;
	border: 1px solid #fff;
}
.btn-back-next:focus {
	background: #ffffff !important;
	color: #15948d !important;
	border: 1px solid #fff !important;
}