﻿@using GlodCleaning.Common;
@using GlodCleaning.Pages;

<ul class="main-menu metismenu">
    @if (ProjectSession.UserType == 2)
    {
        <li class="custom"><a href="@Url.Action(Actions.RestaurantDetails,Controllers.User,new { Area=""})" id="RestaurantData"><i class="icon-login"></i>Manage Restaurant Data</a></li>
    }
    @if (ProjectSession.UserType == 1)
    {
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})" id="Dashboard"><i class="icon-bar-chart"></i><span>Dashboard</span></a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.User,new { Area=""})" id="ManageRestaurant"><i class="note-icon-picture"></i><span>Manage Restaurant</span></a></li>
    }
</ul>

